[2015-02-08 04:34] MechWarrior99 opened #9 "Enderstorage retexture"
old chest:
![2015-02-07_08 39 13](https://cloud.githubusercontent.com/assets/8076495/6095268/75c27f82-af08-11e4-8d86-334985674b0b.png)
new chest:

![2015-02-07_08 39 40](https://cloud.githubusercontent.com/assets/8076495/6095273/afb5472e-af08-11e4-97ab-f74f5213543d.png)

old pouch:

![2015-02-07_08 40 53](https://cloud.githubusercontent.com/assets/8076495/6095275/b8b9183c-af08-11e4-9f37-803db28d8e

[2015-02-08 16:32] #9 closed

[2015-03-04 10:25] Yulife opened #14 "Teak Wood doesn't tile well"
![2015-03-04_11 22 56](https://cloud.githubusercontent.com/assets/8559428/6481847/0dcd1894-c261-11e4-8353-e02bd353ff1d.png)
As you can see there are kind of bright rectangles in the texture which does not make them tile.

[2015-03-24 20:44] CyanideX commented on #14
Well, I was drunk when I retextured all of the logs. :stuck_out_tongue:

[2015-03-25 07:01] Yulife commented on #14
Oh CyanideX. xP

[2015-03-25 22:53] Aidoboy opened #15 "Release 1.0.0 untagged"
Could you tag version 1.0.0 so that we can start keeping track of the releases on CurseForge?

[2015-04-03 14:01] Shayleel opened #17 "Missing texture for JABBA"
Hi, just a little issue here :
JABBA's barrel doesn't have his textures when place from above.
![2015-04-03_16 00 03](https://cloud.githubusercontent.com/assets/5844725/6983132/9557ba28-da1a-11e4-913b-d3f98f992382.png)

[2015-04-04 18:58] MechWarrior99 commented on #17
Thank you for reporting this bug. It will be taken care of soon, hopefully :)

[2015-04-10 06:34] CyanideX commented on #15
I apologize, but I don't understand what you're asking.

[2015-04-10 06:34] CyanideX commented on #14
I give you permission to submit a PR with a fix! :wink:

[2015-04-10 06:35] CyanideX commented on #17
Yikes! That's not a good thing. I will take a look this weekend (hopefully).

[2015-04-10 06:49] CyanideX commented on #17
Ok, I fixed it. But I want to change a few things before I update it.

[2015-04-11 14:04] #14 closed

[2015-04-11 14:04] Yulife commented on #14
https://github.com/CyanideX/Unity/pull/18
Fixed!

[2015-04-22 07:38] hilburn opened #22 "Permission to use"
I'm currently doing a ground up rewrite of Steve's Factory Manager - merging in a load of changes from Steve's Addons and generally optimizing and opening it up. The texture format will be quite different under the new regime, I will be pulling them apart and re-ordering them a bit and probably doing some work with layering, however I would really like to start from a base of the Unity textures as

[2015-04-24 19:38] CyanideX commented on #22
Permission granted. Best of luck.

[2015-04-25 00:50] #22 closed

[2015-04-25 00:50] #15 closed

[2015-04-25 00:54] CyanideX commented on #17
Hopefully the new textures work. Let me know if there is anything missing - haven't had time to test it myself.

[2015-04-25 00:54] #17 closed

[2015-04-29 21:36] Shayleel opened #25 "Missing Textures for Blood Magic"
Hi, it's me again for some missing textures for Blood Magic as shown in the screen below :
http://imgur.com/tKcJbkO

[2015-04-30 02:21] CyanideX commented on #25
Oooh, updates! :stuck_out_tongue: Will have to get to that soon.

[2015-05-01 18:15] Yulife opened #27 "CyanideX' Texture List"
You better do them quick! ;D
- [x] Cobble retexture
- [x] Barren/Rotten Hay texture
- [ ] A ragged, mossy chest texture with dark iron frame. (Dark Oak and Ipe Wood texture base)
- [x] Glowflower retexture to match the Wasteland

[2015-05-01 18:15] Yulife commented on #27
4: Glowflower retexture to match the Wasteland
5:

[2015-05-02 00:03] TennePG opened #28 "ReactorCraft/ElectriCraft"
Since the RotaryCraft re-texture is in the works, I was wondering if I could have a few sample RC textures so that I could get some inspiration to begin re-texturing both Reactor/ElectriCraft so we can knock out three birds with one stone, so to speak.

[2015-05-02 01:10] Razorskills commented on #28
Stone three birds at the same time?

[2015-05-02 01:19] TennePG commented on #28
Yep, bird three stones with one bird

[2015-05-02 01:37] Razorskills commented on #28
lmao ^ love it.

[2015-05-04 02:48] Aidoboy commented on #15
Like this: https://github.com/CyanideX/Unity/releases

[2015-05-04 17:24] CyanideX commented on #15
This is just the source. Releases can be found [here](http://minecraft.curseforge.com/texture-packs/222097-unity).

[2015-05-04 20:31] Aidoboy commented on #15
IT's just another place people can look if they want to get them.

[2015-05-04 20:31] Aidoboy commented on #15
It's not hard, you just click a button in the commit. It's also really nice for documentation.

[2015-05-04 20:32] CyanideX commented on #15
Ok, will do. :smile: Thanks for helping me out.

[2015-05-12 05:07] CyanideX commented on #28
Actually, as RotaryCraft and ReactorCraft share similar base textures I have been retexturing both concurrently. My main focus now is to complete RotaryCraft; however, I am certainly open to getting help with ElectriCraft. I will see what I can do about finishing up the templates for that.

[2015-05-12 05:12] CyanideX commented on #25
@TenneP, would you be up to updating for me? :)

[2015-05-13 19:32] Keridos opened #31 "MFR Laser Foci Colors"
The laser foci colors for purple, (light) blue and magenta look kkind of wrong. Suggestion: make the current blue lightblue, the current purple blue, current magenta purple and recreate the magenta color to look like the corrresponding glass/wool.

[2015-05-16 08:11] Gotolei opened #33 "Interface glitched in certain TE machines"
![https://i.imgur.com/xKaAOEW.png](https://i.imgur.com/xKaAOEW.png)
http://i.imgur.com/YfF2Uoa.png
http://i.imgur.com/WvR5hyD.png

I'm guessing there were changes made somewhat recently on TE's end?
Thermal Expansion 4.0.1-182 (Infinity 1.5.1)

[2015-05-19 19:42] Gideonseymour commented on #33
Yup, the CoFH mods redid some of their interfaces recent versions

[2015-05-20 05:58] CyanideX commented on #33
That shouldn't be happening anymore though... I removed all the GUI's from the resource pack. :confused: Will double check.

[2015-05-20 05:59] Gotolei commented on #33
How long ago was that? I haven't re-downloaded the pack fresh for a while, lemme check if the one I have is just out-of-date.

[2015-05-20 06:00] CyanideX commented on #31
I will need to revisit these textures after the release of Infernal Skies. Currently, the only free time I have is spent sleeping. :stuck_out_tongue_winking_eye:

[2015-05-20 06:04] CyanideX commented on #33
Yeah I just checked, they're gone. :smile:

[2015-05-20 06:06] Gotolei commented on #33
Yep, my mistake.

[2015-05-20 06:06] #33 closed

[2015-05-24 07:28] goranalkovic opened #36 "[IDEA/SUGGESTION] Redesigned UIs for everything"
I though about modernizing the UIs of everything a bit so it looks nicer and complement Unity more.

Since I now have more free time, here's what I did for the vanilla inventory and crafting table:
![inventory](https://cloud.githubusercontent.com/assets/2352553/7787078/0f51ba64-01f7-11e5-8c7b-98db71573520.png)
![crafting_table](https://cloud.githubusercontent.com/assets/2352553/7787079/42711cc8-01

[2015-05-25 22:12] CyanideX commented on #36
As brilliant as these are, the idea of Unity is to fit vanilla Minecraft so the vision is a bit lost in this.

If we did decide to change the GUI's we would need to redo ALL the supported mod GUIs. There are a lot. Also, the GUIs often change so we would most likely be chasing our own tails to keep things up to date.

I would love to add these to my other resource pack though! :) It's a more moder

[2015-05-25 22:31] goranalkovic commented on #36
What about just removing the bevel effects from the inventory squares, and leaving the rest as it is?

[2015-05-26 14:45] T145 opened #39 "ChickenBones's Mods"
I noticed WR-CBE is complete, but none of [ChickenBones's other mods](http://chickenbones.net/Pages/links.html), which are ChickenChunks, EnderStorage, and Translocator. They're not huge either, so it should be simple to complete.

[2015-05-28 02:01] TennePG commented on #39
I'll take a look at them when I get the chance, it shouldn't be that hard of a project.

[2015-06-02 18:03] #27 closed

[2015-06-18 00:59] #36 closed

[2015-06-18 00:59] #28 closed

[2015-06-29 00:19] Rodg88 opened #42 "JABBA structure upgrades"
Structure upgrades are transparent except for the number, using JABBA 1.2.1a. Caused by textures/items/capaupg_base.png and capaupg_color.png being 32x when they need to be 64x. I just did a quick resize myself and it fixed it.

[2015-06-30 21:12] CyanideX commented on #42
Or you could download the [latest Unity pack](http://minecraft.curseforge.com/texture-packs/222097-unity/files/2235314) and have the fixed version. :stuck_out_tongue_winking_eye:

[2015-06-30 21:12] #42 closed

[2015-07-11 19:04] bcg17 opened #43 "Texture problems in Bluepower"
The timer from blue power doesn't have sides and the pneumatic tubes are missing parts of the framing I'm not sure if that intentional.
https://imgur.com/a/Ys0iA

[2015-07-21 15:13] MechWarrior99 commented on #43
Hmm. I will look in to that. Thanks :)

[2015-10-12 04:07] #43 closed

[2015-10-14 01:35] BBoldt commented on #25
https://github.com/CyanideX/Unity/pull/46#issuecomment-147899099

[2015-10-17 19:29] BBoldt commented on #25
@Yulife Don't close until we've actually pushed to master or made a release.

[2015-10-17 19:47] Yulife commented on #25
but why'd you open it xD

[2015-10-17 21:02] BBoldt commented on #25
because we hadn't done it yet, and now I can do this:

[2015-10-17 21:02] BBoldt commented on #25
https://github.com/CyanideX/Unity/pull/46

[2015-10-17 21:02] #25 closed

[2015-10-17 21:03] BBoldt commented on #25
This shows that the Pull Request has been merged to master and the issue can be closed, not just randomly closed before we were even done like you did.

[2015-10-19 15:06] Yulife commented on #39
Soooo @TennePG?

[2015-10-19 15:06] Yulife commented on #31
Mech!!

[2015-10-19 20:22] BBoldt commented on #39
@ZiaAvenicia*

[2015-10-19 20:57] ZiaAvenicia commented on #39
I'll get around to it when I finish Avaritia and then AE2 Stuff. It's kind of tough to work on textures when you have school and life riding right behind you.

[2015-10-19 21:11] BBoldt commented on #39
Take your time.

[2015-10-28 21:23] Kalut opened #49 "Blood Magic addons"
Hey, I have recently been working on some re-textures for a few blood magic related mods, I have been using the ones for unity as a reference so I was wondering if this is something you would be interested in. I have a small preview of the stuff i have been working on and would also love some tips on what i could improve .

Blood Arsenal:

![Default](http://i.imgur.com/XwjbiAi.png?1)
![Retexture](

[2015-10-28 21:38] TehNut commented on #49
Those Sanguimancy ones are <3

Pinging @Tombenpotter

[2015-10-28 23:23] Tombenpotter commented on #49
Ailaikit very much

[2015-10-28 23:51] BBoldt commented on #49
Great job!

[2015-10-29 06:34] Yulife commented on #49
What's the right texture of the first pic that is orange?

[2015-10-29 11:52] Kalut commented on #49
Thanks!
This was my first attempt at doing this kind of thing so i wasn't sure how it turned out.

That orange thing is an orange.

[2015-10-29 16:13] Yulife commented on #49
I love all textures :) Maybe change the texture of the orange a bit? Oranges have a shine and are kind of pore-y. :)

[2015-10-29 18:23] BBoldt commented on #49
Agree, that looks like a Peach for some reason to me.

[2015-10-29 21:13] Kalut commented on #49
Yea, it does look more like a peach than an orange :/

I'm struggling to find a way to make a texture that couldn't be mistaken for a peach, considering I'm not great at doing original art this was the best i could come up with:
 ![orange?](http://i.imgur.com/ex6YI27.png)

[2015-10-30 13:43] Yulife commented on #49
I like it! Maybe add more noise to make it look porous.

[2015-10-31 12:11] Yulife commented on #49
By the way, you don't need to make an issue, just make a pull request, it will be merged when it's done :)

[2015-11-01 07:12] CyanideX commented on #49
Wow. This is fantastic work! :)

[2015-11-09 07:27] Yulife commented on #49
I guess since the PR exists this can be closed. :)

[2015-11-09 07:27] #49 closed

[2015-11-10 18:13] Yulife commented on #31
https://github.com/CyanideX/Unity/commit/8f100c318316726bda263bb0bb33dc47045b1393

[2015-11-10 18:13] #31 closed

[2015-11-16 17:28] mezz opened #51 "Minor Update: Forestry Machine Tank Mask"
Hello,

I added a new texture to Forestry. It is a white fluid mask for the machines that show tanks on the outside. It allows me to color the fluids according to what's inside the machine.

The change requires the new mask texture in order to look 100% correct. The mask for my 16x16 textures doesn't look nice with your textures.

The new textures are white wherever fluid is showing and transparen

[2015-11-19 09:32] CyanideX commented on #51
Hey Mezz, thanks for letting us know. I will see if one of our artists can get on this.

I appreciate you taking the time to report this. :smile:

[2015-11-19 12:17] Yulife commented on #51
:p

[2015-12-14 08:29] BBoldt commented on #51
I'll look into this tomorrow.

[2015-12-22 15:14] exmex commented on #39
![Hm](http://i.imgur.com/Z876L4i.png)

I tried my best :sob:

[2015-12-22 20:59] Yulife commented on #39
The chunkloaders look neat! The gold is nice and Unity but the diamond (corners) ain't. Look at the diamond in Unity (if there even is one) and use that colour or use the examples from the enchanting table. And is the crystal ontop not changeable? The ender chest is the opposite, here the gold is not Unity like.

[2015-12-22 23:23] T145 commented on #39
The EnderStorage stuff doesn't look like it has changed at all.

[2015-12-23 07:31] exmex commented on #39
1st The "diamond corners" are from the diamond from unity lol :smile: The crystal is changeable yes, but.. I'm not an expert and didn't knew what to do with it..
T145:
The EnderChests were not finished, for the enderchest and the endertank I started by swapping the obsidian texture from vanilla to unity ;)

[2015-12-23 14:39] Yulife commented on #39
Uhm... no the diamond corners are not from Unity :x See here
![2015-12-23_15-38-50](https://cloud.githubusercontent.com/assets/8559428/11978365/554f6d4a-a98b-11e5-8bed-fb6b56ff2e9f.png)

[2015-12-23 14:48] exmex commented on #39
ahhh.. You mean from the enchanting table.. Lol. I didn't think about that part XD! I was "remaking" the chunkloaders from couple of block textures (obsidian, diamond block, gold block)

[2015-12-23 15:08] Yulife commented on #39
Ahh nice :)

[2015-12-23 15:10] exmex commented on #39
Still unsure what the "globe" / hedronmap.png should look like.

[2015-12-23 15:19] Yulife commented on #39
Maybe recolour a modified snippet of the Unity glowstone? :)

[2015-12-23 15:34] exmex commented on #39
I'm honest.. Doesn't look very good xD

![](http://i.imgur.com/OLHUDVv.png)

[2015-12-23 15:42] Yulife commented on #39
Ehhh, true, then leave it be :)

[2015-12-23 15:42] T145 opened #54 "HungryStorage"
How does some support for my new mod HungryStorage sound? It's open-source and you can find it here: https://github.com/T145/hungrystorage

[2015-12-23 15:43] T145 commented on #39
Gj guys! Excited for EnderStorage!

[2016-01-05 10:41] Yulife commented on #51
Soo, you got this done? Otherwise I can work on it.

[2016-01-05 11:36] Yulife commented on #51
@mezz we had a gradient before in the indicator if it's full or not. If I do a gradient that fades out in transparency it is still shown as full opacity ingame :/

[2016-01-05 11:47] CyanideX commented on #51
Do black to white gradient. :P Easy.

[2016-01-05 11:48] Yulife commented on #51
But that will block the backround texture which looks clunky.

[2016-01-05 11:51] mezz commented on #51
I probably just need to mess with the OpenGL some more. I thought faithful 32 got it working with a gradient but I may be mistaken. I'll take a look.

[2016-01-05 11:52] CyanideX commented on #51
@Yulife You can still texture the background, can you not?

[2016-01-05 11:54] Yulife commented on #51
It is textured. But I think it's an overlay so it doesnt show.

[2016-04-09 14:27] Yulife commented on #51
Fixed!

[2016-04-09 14:27] #51 closed

[2016-04-09 14:27] #39 closed

[2016-04-09 14:28] Yulife commented on #39
Made a hedron texture, I think it looks okay :D

[2016-04-16 18:04] Speiger opened #55 "IC2 Classic"
Could you add IC2 Classic Support? It can be combined with IC2 Exp in Textures (it uses the same folder but differend subfolders)

[2016-04-16 18:51] Yulife commented on #55
We'll keep it in mind :D

[2016-04-16 21:44] Speiger commented on #55
1 Upside. Texture Sprites. You do not have to do 5000 Icons. Its all in a couple texture sprites merged together (at least in classic) xD

[2016-04-17 00:52] BBoldt commented on #55
Would probably be best to use the same textures that we use for IC2-exp, just "ported" to whatever file/image structure IC2-Classic has. Then we would just need to fill in the blanks for the extra content that IC2 Classic has.

[2016-04-17 01:08] Speiger commented on #55
@BBoldt Yeah but exp changed they general style and classic kept the old one

[2016-04-17 07:03] Yulife commented on #55
Sprites have downsides too, for example if you do not have all textures done you either need to fill in the not textured with blanks or ship the author's textures which may conflict with some licences :P But yea, sprites are nice

[2016-04-17 08:00] Speiger commented on #55
yeah that is true. But on the other hand. As long you finish your work and make it a "none constant" state it should be fine (at least from my side)

[2016-04-17 12:14] Yulife commented on #55
Just curious, IC2 Classic and Tech Reborn are completly different right? Because we started on Tech Reborn! :smile:

[2016-04-17 14:55] jkenyonc opened #56 "Underground Biomes Comstructs"
Could you add textures for UBC? They are mostly just recolored stone and cobble, and having those in unity style would be very helpful.

[2016-04-17 15:42] Yulife commented on #56
Is the mod 1.8/1.9?

[2016-04-17 16:22] ZiaAvenicia commented on #56
I checked the MCF thread and it was only 1.7.10, as far as I could tell.

[2016-04-17 16:43] BBoldt commented on #55
They are Yulife. Tech Reborn is a rewritten version of an old version of Gregtech. IC2 Classic is an updated version of pre-experimental IC2.

[2016-04-17 16:46] Yulife commented on #56
Well then I'm sorry, we are not really focusing on 1.7 mods that much anymore, especially if there are that many textures. If it gets updated, maybe.

[2016-04-17 16:46] Yulife commented on #55
Ahhh nice :)

[2016-04-18 12:40] Fortanono opened #57 "Suggestion: Boundless Expanse edition"
Boundless Expanse is a modpack I'm working on which is basically a less grindy Infinity Evolved, and I was thinking: Since the reqipes are all changed, why not get you guys at Unity to make updated textures for said recipes? I may do this as a project, but I'm terrible at spriting so I'm not sure.

[2016-04-18 13:34] Yulife commented on #57
No, you'd have to make those textures yourself. Take a look at the tutorial :)

[2016-04-18 13:34] #57 closed

[2016-04-24 15:33] #56 closed

[2016-05-01 16:13] SpectacularNumbers opened #58 "Logistics Pipes Texture Broken."
http://puu.sh/oCvAe/189e3a9751.jpg

[2016-05-01 18:43] Yulife commented on #58
We never made Logistic Pipes textures?

[2016-05-01 18:43] #58 closed

[2016-05-03 09:19] CyanideX commented on #55
@Speiger, you still looking to get those textures for IC2C? I'm just about done with IC2 so it wouldn't be too difficult to throw something together.

[2016-05-03 11:05] Yulife commented on #55
Shouldn't it use them same texture? :p

[2016-05-03 18:39] Speiger commented on #55
@CyanideX well it would be great if IC2C gets texture pack support...
@Yulife well thats your choice but IC2Exp did start a new Art Style while classic tries to keep the old one... So if you find something that fits for both then i am fine with that.

[2016-05-05 13:23] SnowShock35 opened #59 "MineFactory Reloaded - Auto-Brewer UI broken"
Hello,

I believe I've found a bug with the current release version of MineFactory Reloaded regarding its GUI. Here's the in-depth of the issue...

### Important Information

* Minecraft 1.7.10
* Forge 10.13.4.1614
* Unity 1.3.1 (Latest CF Release)
* MineFactory Reloaded 2.8.1

### Description

The GUI of the Auto-Brewer block from Minefactory Reloaded appears to have updated since the textures fo

[2016-05-08 17:48] Danymaddox opened #60 "[1.8.9] Chisels & Bits tank texture bloken"
Hi! The Chiseled Fluid Bit Tank texture from Chisels & Bits is broken, it shows a missing texture

[2016-05-09 21:13] cinnamennen opened #61 "Dirt Texture red border"
Something I've noticed is that there seems to be a 1px wide borer of red around the dirt texture, not sure if this is intentional or not, but it doesn't quite fit

[2016-05-09 21:37] BBoldt commented on #61
What version of Unity are you using? I think this was fixed a long time ago.

[2016-05-10 01:20] cinnamennen commented on #61
1.2.0, it was out of date

[2016-05-10 01:20] #61 closed

[2016-05-13 18:57] CyanideX commented on #61
Yeah my bad... partial colorblindness. :stuck_out_tongue:

[2016-05-13 18:57] CyanideX commented on #59
Ahh crap. Yeah this happens once in a while. So hard to keep track of mod updates/changes. Thanks for the heads up.

[2016-05-13 19:01] CyanideX commented on #60
Hey @Danymaddox, could you post a screenshot if possible? It helps us see the issue. I will certainly look into this for you! :grinning:

For future reference, take a look at [this post](https://github.com/CyanideX/Unity/issues/59) for ideal issue reporting format.

[2016-05-13 19:14] Danymaddox commented on #60
Yeah here you have!

**# Important Information**

Minecraft 1.8.9
Forge 11.15.1.1902
Unity 1.3.1
Chisles & Bits 8.8

# **Description**

The texture of Chiseled Fluid Bit Tank from Chisels & Bits looks like this:

![2016-05-13_21 10 36](https://cloud.githubusercontent.com/assets/10263870/15259066/62be8892-194f-11e6-8921-a96a566d8f86.png)

Thanks for your work! :grinning:

[2016-05-13 19:16] SnowShock35 commented on #59
@CyanideX Yeah it's a shame when it happens. If only it was dynamic. No worries dude! Will let you know of any future bugs ;)

[2016-05-13 19:16] Yulife commented on #60
I modified the model for it. Algo might've changed it. I'll look into it :)

[2016-05-13 19:21] Danymaddox commented on #60
Awesome! :smile:

[2016-05-16 11:52] Yulife commented on #60
Cannot reproduce. Try with 1.9.

[2016-05-16 11:52] #60 closed

[2016-05-31 19:26] jkenyonc opened #62 "Better Questing"
Better questing is similar to hqm, available 1.9. I like it better, and there is no quest book to retexture. The reward chest and qds-alike block have terrible textures by default. Is there anyone which could make textures for this mod?

[2016-06-04 21:21] CyanideX opened #63 "Vanilla Redstone Torch - Stray Transparent Pixel"
See sample:

![Redstone Torch](http://i.imgur.com/HoMna6F.jpg)

[2016-06-05 08:11] CyanideX opened #64 "Update "tab_inventory.png""
Update the player creative inventory GUI:

**_assets\minecraft\textures\gui\container\creative_inventory\tab_inventory.png_**

![tab_inventory](https://cloud.githubusercontent.com/assets/3106700/15804355/5a4670ea-2aba-11e6-9b47-321e3cf8aded.png)

[2016-06-05 10:57] Yulife commented on #64
To what??

[2016-06-05 12:19] #63 closed

[2016-06-05 12:22] #59 closed

[2016-06-05 12:23] Yulife commented on #55
Hey @CyanideX once you get IC2 done I can take a look at IC2 Classic's sprites, just tell me once it's done

[2016-06-05 17:46] CyanideX commented on #64
To the image I just posted...

[2016-06-05 20:58] Yulife commented on #64
Oh

[2016-06-05 21:58] CyanideX commented on #62
Just for you!

https://github.com/CyanideX/Unity/commit/6e524f9eb71d953a48014ab920fd66071c05d839

It's just an HQM conversion, but it should look a little nicer now.

[2016-06-05 21:58] #62 closed

[2016-06-05 22:01] CyanideX commented on #64
Nevermind. I got dis!

[2016-06-05 22:01] #64 closed

[2016-06-06 01:26] adudney opened #65 "Rotarycraft nether items are untextured"
All RoC flakes and intermediaries for nether ores have missing textures, and appear as blank boxes with purple corners in the top left and bottom right.

In addition, the same thing is true of all the nether variants of the ingots and dusts.

tested on commit 66a7188f6ea89d4bd9744227827b623f429820ff

Picture:
![screen shot 2016-06-05 at 18 26 07](https://cloud.githubusercontent.com/assets/246232/1

[2016-06-06 07:47] Yulife commented on #62
👏👏👏👏

[2016-06-06 07:49] CyanideX commented on #65
That's what I was telling you @Yulife! :stuck_out_tongue:

[2016-06-06 07:49] Yulife commented on #65
Maybe I'll do Nether ores. Not sure. Some ore types are dead, e.g. Force (Dartcraft) and other stuff. I'm not wasting my time on those :P

[2016-06-06 07:50] CyanideX commented on #65
It's hard to tell which ores do or don't need to be done. You _could_ just duplicate ones with similar colors and change hue/add more noise.

[2016-06-06 07:53] Yulife commented on #65
Of I'll include reikas by default

[2016-06-12 04:12] Funwayguy commented on #62
I approve of these textures greatly, nice work!

PS: There is a way to add your UI textures as a theme instead of an overwrite using a JSON file

[2016-06-15 17:19] ruyanve opened #66 "Flood Lights"
Hey guys,

I made some VERY simple textures for the [FloodLights Mod](http://minecraft.curseforge.com/projects/floodlights) that I wanted to share.

http://imgur.com/a/Gmskn

The mod needs some serious texture love, so if someone who actually knows what he's doing would like a take on it... I guess the mod author would be grateful ;-)

[2016-06-18 08:35] Dragnier opened #67 "Base Metals and Substratum"
Reminder to look at adding ore textures for Base Metals and Substratum mods per your Twitter response to me asking about them. 😄

[2016-06-18 18:57] Yulife commented on #67
Uhmmmm, I think @vapourdrive has a mod like that with Unity textures. It's a waste of time because it already exists. :)

[2016-06-18 19:23] VapourDrive commented on #67
Well, I haven't as yet actually released said mod. I'd say add support for Substratum

[2016-06-18 21:18] BBoldt commented on #67
@Yulife That's dumb. "Let's not support [mod] because a person associated with the team has a similar mod!"

Pretty rude to close the issue especially considering @CyanideX told him to open it!

https://twitter.com/theCyanideX/status/743907815710830592

[2016-06-18 21:23] CyanideX commented on #67
@Yulife, the idea is to support as many mods in our pack as we can because we *cannot* control which mods people do or do not use with Unity. Not supporting one is essentially telling them to use the other... kinda silly.

[2016-06-18 21:57] Yulife commented on #67
Oh huh my apologies, didn't know Cyanide told him to open it. Have fun then :)

[2016-07-13 17:09] CyanideX commented on #66
There are a few changes I would want to make to these to make them look more like a standard flood light but I like the look so far!

[2016-07-13 23:30] Carrots4U opened #68 "Quark"
I'd recommend adding Unity textures for Quark. I saw a post asking about it on curse, and Cyanide told them to post it on github, but there wasn't anything here so I decided to do it myself :smile:

[2016-07-14 12:09] Yulife commented on #68
Mhm interesting, maybe I can come up with something. @CyanideX is busy with TiC and IC2 anyway and I don't believe we have another texturer haha

[2016-07-14 12:09] Yulife commented on #66
Neat! Could you please make a PR with correct file paths instead of an issue?

[2016-07-14 18:16] MechWarrior99 commented on #68
I could take a swing at the textures if you want.

[2016-07-14 19:58] ruyanve commented on #66
These textures will be included in the mod as default textures, so no need for this anymore :)

[2016-07-14 19:58] #66 closed

[2016-07-27 12:29] rubensworks opened #69 "Integrated Dynamics"
I've been getting a lot of comments on the color scheme of [Integrated Dynamics](http://minecraft.curseforge.com/projects/integrated-dynamics).
Since I'm not really a good texture artist, I was thinking that people might like it if the mod got a texture remake from the Unity team.
I would be happy to use them as default textures if you're up for it ;-)

[2016-07-28 08:36] Yulife commented on #69
Mhmhm, @elucent and I had a talk about retexturing ID actually yesterday :) Was thinking about a general gray scheme with those baby blue highlights so that the mod does not lose its original flavor. What do you think? Maybe go for a different tree color scheme too but I'll do something about that today maybe :)

[2016-07-28 08:43] rubensworks commented on #69
That sounds awesome :)
The cyan highlights are indeed something I would like to see, since they are indicative for the Menril material which is used in all crafting recipes.

[2016-07-28 11:45] Yulife commented on #69
Hey can you come on IRC or discord???

[2016-08-02 05:59] DanHolli123 opened #70 "Tom's Mod"

[2016-08-02 09:32] Yulife commented on #70
Could you at least give us a link to the mod page or a little description? :unamused:

[2016-08-02 13:16] DanHolli123 commented on #70
It runs a bit differently from what I know of Gregtech and AE1, which is little
has a few similarities though

[2016-08-02 13:17] DanHolli123 commented on #70
and he just added a fluid transposer 3 days ago

[2016-08-02 13:46] Yulife commented on #70
Yeah but it straight up copied both the textures and the concepts =/ Not even subtly lol @CyanideX whatcha think.. I'd go for a no

[2016-08-02 17:55] ruyanve commented on #70
I'd vote no... A mod that has a 10 mb item texture (check the radar item) and is composed of parts of famous other mods doesn't really seem like going somewhere.
I could name a bunch of solid original mods that would be way better off with some Unity love than this one.
It's a rip-off.... there. I said it :-P

[2016-08-02 18:59] BBoldt commented on #70
Yeah, it doesn't seem like a re-imagining of anything or breaking any new ground. There are definitely mods that deserve a Unity patch over this. The blatant ripping off of mods does not seem like an homage in this case.

[2016-08-02 20:16] Yulife commented on #70
I agree. Screw ripping off mods and not even giving them credit!

[2016-08-02 20:16] #70 closed

[2016-08-03 02:44] CyanideX commented on #62
@Funwayguy, I apologize, I didn't see this message. I'm not sure how themes work for Better Questing but I can certainly take a look at doing it that way instead. :smile:

[2016-08-03 09:26] Yulife commented on #62
Tech theme á la Exo ;)

[2016-08-03 14:37] Funwayguy commented on #62
It might be easier to communicate how elsewhere. You can add me on Curse if you'd like to talk there (and for future texture support if need be)

[2016-08-03 15:16] DanHolli123 commented on #70
May by you should try Tom's Mod YOURSELF.
I can't even find those textures in the pictures!

[2016-08-03 18:21] TehNut commented on #70
Are you blind?

[2016-08-03 18:33] ZiaAvenicia commented on #70
I think it would be a good idea to close this off completely from replies so that things don't have the potential to "get out of hand" for lack of a better term, since it seems like it's on the track of getting to that point.

[2016-08-03 20:05] BBoldt commented on #70
@DanHolli123 Okay. I've tried the mod MYSELF.

Let's see how many ripoffs can be in one mod!

1) Thermal Expansion
![](http://i.imgur.com/TESrKJa.png)

2) Applied Energistics 1
![](http://i.imgur.com/RcZLMDH.png)

3) Railcraft
![](http://i.imgur.com/7kjHl8D.png)

4) IC2 & Gregtech
![](http://i.imgur.com/D8K1D0y.png)

5) MFFS
![](http://i.imgur.com/eTCdWht.png)

6) Thaumcraft?!
![](http://i.imgur.c

[2016-08-03 20:12] CyanideX commented on #70
While some of the textures are simply reskinned ripoffs using the same original elements, other textures are actually completely ripped from the mod itself. I understand what this developer is trying to do but they went about it in the worst way imaginable.

[2016-08-03 20:21] BBoldt commented on #70
My favorite part is how there are absolutely no credits given to the source mods at all.

I would actually be okay with this if he was making separate clone mods with credits to the originals. Like, shit, I would love a standalone MFFS replacement mod. But, there is a major distinction between being inspired by a mod, and ripping off a mod. The reason this mod screams "rip off" instead of "remake"

[2016-08-03 20:45] Yulife commented on #70
Snek revealed

[2016-08-04 10:45] CyanideX commented on #70
@tom5454, I get why you would want all of these features. We're wondering why you have failed to credit the original authors.These are their ideas. Their textures. You've used their work without a single mention of where you got it.

[2016-08-04 10:53] tom5454 commented on #70
I drew most of the textures, and I wrote the code too. And I might copy some ideas.

[2016-08-04 10:54] CyanideX commented on #70
Changing a few pixels doesn't count. Writing your own code doesn't matter if you stole the ideas without giving credit.

[2016-08-04 11:01] tom5454 commented on #70
I am adding a new section to the project description, where I'll give credit to the original authors.

[2016-08-04 11:07] tom5454 commented on #70
Section added.

[2016-08-04 19:03] CyanideX commented on #70
Thanks @tom5454, I appreciate it.

[2016-08-19 04:58] CyanideX commented on #54
Seems like the mod is dead. :confused:

[2016-08-19 04:58] #54 closed

[2016-08-31 16:35] #69 closed

[2016-09-11 08:33] nikita488 opened #73 "Actually Additions"
??? :P

[2016-09-16 11:10] Revemohl opened #74 "[IC2/TiCo] Compatibility with 1.7.10?"
I've noticed that Unity's recent updates for these two mods are completely incompatible with MC 1.7.10. I thought fixing them all would be a simply matter of just renaming everything, but quickly found a few textures for IC2 that are stitched together on 1.7.10 but separated on 1.10, like every generator or machine for example.

So, would it be possible to release an 1.7.10-compatible updated vers

[2016-09-16 13:43] Katalliaan commented on #74
Probably the best/easiest solution would be to create a 1.7.10 branch. I do have a version of the 1.7.10 creative inventory GUI that I made based on CyanideX's modifications to the 1.9 version (which moved the armor slots around) that I could contribute.

[2016-09-16 14:17] Yulife commented on #74
For me 1.7.10 is dead development wise. Dunno about @CyanideX though, there are more sensible things to spend times on

[2016-09-16 14:40] BBoldt commented on #74
We should have had separate branches in the first place. Separating them now might be a bit complicated,  but I'll see what I can do.

[2016-09-16 15:30] Yulife commented on #74
Well, whats the next version on the horizont? :stuck_out_tongue:

[2016-09-16 17:39] CyanideX commented on #74
There are already two branches and I will be pushing the 1.7.10 version of IC2 to that separate branch. After that we will no longer be supporting older versions of MC/mods.

[2016-09-16 18:41] CyanideX commented on #74
Unfortunately, Tinker's will not be for 1.7.10.

[2016-09-16 18:47] CyanideX commented on #73
I personally don't use this mod so I won't be retexturing it; however, if one of the other artists would like to give it a shot we will include it. :)

[2016-09-16 18:49] CyanideX commented on #68
My Quark textures are a WIP but consider it done.

[2016-09-16 18:49] #68 closed

[2016-09-17 07:00] Revemohl commented on #74
I took a look at TCon's textures and these ones do in fact seem to be a matter of just needing to be renamed, but at the same time it looks like there are plenty more of them for 1.7.10 than there are for 1.10 (even taking into account how the Unity TCon textures are WIP), and tools seem to follow a completely different texture structure as well so I don't mind that.

[2016-09-17 07:15] CyanideX commented on #74
[Yeah, they went from over 3000 textures in 1.7.10 to just over 500.](https://twitter.com/bonusboni/status/768034840214200325)

[2016-09-17 08:01] CyanideX commented on #74
I've decided we're only going to support 1.10.2 from her on out.

I will release my 1.7.10 IC2 retexture as a separate download on CurseForge but it's too much trouble to maintain two branches.

[2016-09-17 08:01] #74 closed

[2016-09-17 08:44] Yulife commented on #74
Aye. If 1.11 ever comes up, we will make sure to make it a seperate branch

[2016-09-30 20:11] Mattabase commented on #55
@CyanideX @Yulife Would super dig those IC2C textures <3

[2016-09-30 20:29] CyanideX commented on #55
@Mattabase, I will see what I can do.

[2016-09-30 20:32] Mattabase commented on #55
<3 Love you buddy! @CyanideX =P

[2016-09-30 20:37] CyanideX commented on #55
@Mattabase, don't thank me yet. I may not get to it for a while. 😖

[2016-09-30 20:51] CyanideX commented on #55
Sorry, can't do it @Mattabase. I would need @Speiger to make the bottom/top face rotate with the block in order for the textures to work properly. This retexture would be a basic copy/paste from my IC2 Unity because I simply don't have the time to make adjustments for this system.

![Sample](http://i.imgur.com/eRFeYie.jpg)

[2016-09-30 21:37] Speiger commented on #55
@CyanideX the problem is i would require my full renderring for that just making the stuff work.
I am using the standart renderer.... hmmmm i didnt expect that you do side awarenes...

[2016-09-30 21:54] Speiger commented on #55
@CyanideX ok i will try to come up with something. But might take a couple days...

[2016-09-30 22:48] Speiger commented on #55
@CyanideX keep doing the work even rotation is not applying yet. I found some interesting code...
That should fix that issue very fast... (Patch will come out soon)
@Mattabase notify xD

[2016-09-30 22:54] CyanideX commented on #55
@Speiger, I tend to get fancy with my textures. 😉 Thanks for looking into this.

[2016-09-30 23:29] CyanideX commented on #55
It's coming along:
![Progress!](http://i.imgur.com/owIY2Zt.png)

[2016-09-30 23:30] Speiger commented on #55
Cool :3 i wonder how you do the jetpacks etc xD because they have no textures on Exps Side

[2016-09-30 23:50] Speiger commented on #55
@CyanideX do you want to add animations? I can do a oneliner code which allows you to make animations to IC2Classic without using the sprite system while stay still compatible^^"

[2016-10-01 01:09] CyanideX commented on #55
@Speiger, the jetpacks had textures but here are some of the items from my retexture:

![Items](http://i.imgur.com/DOQ2E4B.jpg)

I didn't do any animations aside from a few items so no need to worry about that.

[2016-10-01 09:23] CyanideX commented on #55
Ok, @Speiger, I'm going to need some animations for a few items.

[2016-10-01 09:34] CyanideX commented on #55
We're getting there:

![image](http://i.imgur.com/zGZcqAr.png)

Nothing a night of beer can't accomplish.

[2016-10-01 11:09] Speiger commented on #55
Well I can't tell you where to put it now but,
Leave the texture in the sprite that is going to be animated like it is. Make a separate file that is like vanilla Minecraft texture and do the animation there.
Simply: The texture loader from class inject 2 paths into the texture. 1: the path of the sprite + coords. 2: a replacement path + name which loads if he finds the texture there.
if the loader

[2016-10-01 13:53] Speiger commented on #55
@CyanideX well ok i did add the code for the Texture Replacing into my dev invioment (will be with the next release)
So the Textures you want to replace with special Properties you need to place into this path:
"ic2:textures/replacements/(SpriteID)X(XPosition)Y(YPosition).png"
for example you want to replace a the Nightvision Goggles the file of the texture has to be called like this:
"i2X2Y2.png"

[2016-10-01 16:26] Speiger commented on #55
@CyanideX version is out. You find it on github... Version 1.2.1.2.3

[2016-10-01 20:31] CyanideX commented on #55
Hey @Speiger, I downloaded the new version, created the replacements directory, adding the animation .png as well as the meta file, named it i3x3y1.png to target the overclocked heat vent, but it doesn't appear to do anything.

![dir](http://i.imgur.com/FXEYVx0.png)

[2016-10-01 22:21] Speiger commented on #55
@CyanideX i made a mistake... Its not ic2/textures/replacements. its ic2/replacements.

[2016-10-01 22:21] Speiger commented on #55
it should not colide with ic2Exp at all.. So i think i can leave it like that^^"

[2016-10-01 22:27] CyanideX commented on #55
@Speiger, moved them to ic2/replacements and it still doesn't seem to be working. 😖

[2016-10-01 22:29] Speiger commented on #55
@CyanideX i make a hotfix for my derpiness...

[2016-10-01 22:29] Speiger commented on #55
put them back to the ic2/textures/replacements

[2016-10-01 22:45] Speiger commented on #55
found another bug with plugins so i can make a fast release.... Third today xD

[2016-10-01 23:04] Speiger commented on #55
its now out @CyanideX

[2016-10-01 23:10] Speiger commented on #55
https://github.com/TinyModularThings/IC2Classic/releases/tag/1.2.1.2.4.1

[2016-10-01 23:10] Speiger commented on #55
As soon you say its ok i put it on curse....

[2016-10-01 23:11] Speiger commented on #55
(dont want a forth release today xD

[2016-10-01 23:16] CyanideX commented on #55
@Speiger, that's a lot of posts you've done! 😉 Maybe editing one post would be better.

Also, I tried the new version and the animations still don't seem to be working. I put them back into ic2/textures/replacements.

[2016-10-01 23:21] Speiger commented on #55
i2X2Y2.png everything has to be typed big.

[2016-10-01 23:25] CyanideX commented on #55
@Speiger:

![dir](http://i.imgur.com/x5d1iiJ.png)

![ingame](http://i.imgur.com/p9d4ABy.png)

[2016-10-01 23:29] Speiger commented on #55
@CyanideX could you join the IRC channel then i do not have to do releases....
(now its try and errors) (IC2-Classic is the channel)

[2016-10-02 06:30] Yulife commented on #55
@Speiger you use JSONs? Also why the weird PNG names?

[2016-10-02 15:22] Speiger commented on #55
@Yulife Nope.
Why the weird name? Because thats how the Sprites are loaded. Its cutting the Textures into pieces ingame so that do not have to place 1k Textures into my folder... It makes replacing basic stuff very easy while keeping special stuff like animations in a special area and allow you to remove/edit them very easy.

[2016-10-03 19:13] CyanideX commented on #55
@Speiger, I **_love_** working with sprite sheets because it allows me to make changes to all of the textures with a single adjustment layer instead doing them to 256 individual textures; however, the one downside is trying to figure out what the items are without seeing their filename. I found myself going in game trying to match the texture with some of the items/blocks to know what I should be

[2016-10-03 19:31] Speiger commented on #55
hehehe xD

[2016-10-05 13:50] LuigiHutch opened #75 "Update Compact Solars textures to match Unity's IC2 textures"
As it seems that Cyanide is on an IC2 texturing theme (see recent IC2 + IC2 classic retexture), do you have any pans to update the Compact Solars retexure to closely match the IC2 retexture style.

Currently the ones in the repo match the current (vanilla) compact solars texture and do not match the style of the IC2 retexture. Also as an added feature request, could retexture the solar hats as wel

[2016-10-05 21:02] Speiger commented on #55
how is progress going @CyanideX ?

[2016-10-06 23:53] Zsashas opened #76 "Blood Magic Default Router untextured"
![2016-10-06_16 50 10](https://cloud.githubusercontent.com/assets/6917535/19174660/57431ee8-8be5-11e6-9b30-103557c91477.png)

Doesn't look like there's even a file for it, misnamed or otherwise.

[2016-10-07 00:58] Zsashas commented on #76
Oh also, the Ritual Dismantler's tooltip references the fact that the default sprite is simply a Ritual Diviner turned upside down, yet the Unity Dismantler sprite is right-side-up.

[2016-10-07 14:32] InsomniaKitten opened #77 "[Suggestion] Railcraft"
Once Railcraft gets fully updated to 1.10, it'd be awesome to see Unity textures for it.

[2016-10-07 14:40] MechWarrior99 commented on #77
I was wondering how long it would take some one to make this issue :P

Yeah it would be nice to see RC support. I will start working on it 'now', and that way we may get it when RC gets full release.

[2016-10-07 14:59] Yulife commented on #76
Is this 1.7.10? Also BM uses Unity natively now.

[2016-10-07 15:00] Yulife commented on #77
If I'm free I'm up to help a bit as well @MechWarrior99

[2016-10-07 15:54] MechWarrior99 commented on #77
Cool, sounds good. @Yulife

[2016-10-07 15:55] TehNut commented on #76
Looks like NEI, so it is probably 1.7.10.

[2016-10-07 16:23] Yulife commented on #76
Sorry, 1.7.10's no longer supported!

[2016-10-07 16:23] #76 closed

[2016-10-07 18:48] CyanideX commented on #75
Yes, of course! I'm just running low on free time at the moment.

[2016-10-07 18:50] CyanideX commented on #77
I should have Railcraft textures from a while ago that I started during a night of drinking. :P I'll see if I still have those.

[2016-10-07 19:05] MechWarrior99 commented on #77
That would be nice, I hope you do.

[2016-10-07 20:23] AFR0N1NJAZ commented on #75
I've been working on the Compact Solars textures, I'm almost done with them. If CyanideX could approve them they would be good to go.

[2016-10-07 20:24] CyanideX commented on #75
Post a screenshot here @AFR0N1NJAZ. 😄 I'll let you know what I think.

[2016-10-07 20:26] AFR0N1NJAZ commented on #75
![2016-10-07_16 15 01](https://cloud.githubusercontent.com/assets/11052983/19204426/c9b2d8f4-8caa-11e6-82cf-3fe0fac4a53e.png)

[2016-10-07 20:28] AFR0N1NJAZ commented on #75
Thinking about changing the LV Panel.

[2016-10-07 20:29] CyanideX commented on #75
Those look very similar to the ones I made for IC2 Classic; however, following the design style from the basic solar panels, you should only have the "ports" on the bottom face. The sides should all be the same texture. I'm not too keen on the top having alternate textures. Altogether I think you've done a good job at pulling in the the elements from other textures. :)

[2016-10-07 20:30] AFR0N1NJAZ commented on #75
Thank you. I will take your advice.

[2016-10-07 20:30] CyanideX commented on #75
This is an example of the ones I did for IC2 Classic:

![image](http://i.imgur.com/xF0Y5qi.png)

[2016-10-07 20:30] AFR0N1NJAZ commented on #75
That's funny I didn't even know.

[2016-10-07 21:47] Mattabase opened #78 "Quark Support"
Would love if all the stairs/chests/hardened clay tiles from Quark had Unity Support. <3 @CyanideX

[2016-10-08 00:15] T145 opened #79 "Compact Machines"
https://minecraft.curseforge.com/projects/compact-machines

I think this has needed Unity for a while...

[2016-10-08 00:29] ZiaAvenicia commented on #79
It's been a bit since I've done some textures for Unity, but I guess I could try my hand at making a patch for the mod.

[2016-10-08 02:59] Zsashas commented on #76
Ah yes, forgot about this.

[2016-10-08 03:15] MechWarrior99 commented on #79
Yeah, it does, and I have always liked it. But Unity no longer supports mods in 1.7.10. Sorry.

[2016-10-08 03:15] #79 closed

[2016-10-08 09:17] Yulife commented on #78
I believe the chests are done

[2016-10-08 11:11] InsomniaKitten commented on #78
My only request for Quark in the near future would be a single texture, the slime in a bucket. :P Vazkii is using the vanilla (non-Forge) bucket texture, so it stands out like a sore thumb even without Unity.

[2016-10-08 19:38] awkwaRdcaRRot opened #80 "Progressive Automation"
The Progressive Automation in 1.10.2 rearranged and renamed their textures.

[2016-10-08 22:32] Quillan27 commented on #80
I did all of the textures for this back in August. I submitted a pull request for it as well. It seemed like CyanideX liked them, but it was never commited.

[2016-10-10 05:08] DarkImp1 opened #81 "Might I burden you kind sirs with an AbyssalCraft suggestion?"
This mod has been around for awhile and hasn't really gotten the love I believe it deserves textures wise and play time wise. While the original textures do look great, I can't help feel like Unifying the textures would make them look a tad better. I know you guys & gals are hard at work(I went through everything looking at everyone's work, A+'s for everyone btw), but I would love to see this cons

[2016-10-10 08:40] Yulife commented on #81
:thinking: that's a very big mod. Right now we are kind of busy with the old giants, that is Tinkers and Railcraft. (Not sure if @CyanideX is done with IC2).

[2016-10-10 14:44] DarkImp1 commented on #81
I understand. Tinkers is going to take a bit. Especially with all the stuff they're doing in versions past 1.7.10. Like I said I've been looking through everything being done, and @CyanideX has IC2 classic textures done? Or at least WIP?

[2016-10-10 17:21] AFR0N1NJAZ commented on #81
I'm willing to take a try at it.

[2016-10-11 00:54] DarkImp1 commented on #81
Yay!,  I mean that'll be cool dude. Thank you. :)

[2016-10-11 01:19] AFR0N1NJAZ commented on #81
You're very welcome.

[2016-10-11 22:30] CyanideX commented on #78
Chests, beds, and a few other items have been done. I will see about finishing up the remaining items once I check off the other 382 projects on my todo list.

[2016-10-11 22:31] CyanideX commented on #55
@Speiger, the retexture is on hiatus until I get a few other projects out of the way. Work is keeping me busy.

[2016-10-12 02:34] Alan19 commented on #81
Does Unity usually make changes to mobs?

[2016-10-12 02:59] CyanideX commented on #81
@Alan19, no, it does not.

[2016-10-12 06:05] Speiger commented on #55
ok. It could be possible that you can fast update 1.7.10 to 1.10.2 xD When the speed stays like this xD

[2016-10-13 16:22] InsomniaKitten opened #82 "[Suggestion] Armor Overlay"
This is such a small mod but I feel like it would benefit a lot from having the icons recoloured to fit in with the Unity armour textures. The mod has the source code available, but not the assets, which is weird. It only has one asset file, `icons.png`, which can just be grabbed from the jar file. I might try and retexture it myself if I find the time, and I'll update this issue with my contribut

[2016-10-13 18:14] Yulife commented on #82
How would you make it fit with Unity? We don't change the Armor HUD. o_o

[2016-10-13 18:40] InsomniaKitten commented on #82
The gold/diamond armor HUD in the mod use vanilla colors etc.

[2016-10-13 19:22] Yulife commented on #82
Well those are a lot of icons! lol
Not sure if HUD needs to be unity-fied, @CyanideX whatcha think

[2016-10-13 19:52] InsomniaKitten commented on #82
Yeah.. I feel like they could've done the icons in a more efficient way :P

[2016-10-15 08:50] engiwengi opened #83 "Hardened Clay"
Hardened clay currently does not tile well at all, resulting in any flat hardened clay walls or floors looking ugly, [my main gripe being Mesas](https://cloud.githubusercontent.com/assets/13618701/19408744/006afdc8-9308-11e6-818c-ef201d4f986f.png). Have you at all considered redoing or making an alternative texture? In the same way that many other textures offer an _alt version.

[2016-10-15 17:32] MechWarrior99 commented on #83
I think Cy said it was just a temp texture and never meant to be final (If I remember correctly)
But yeah, it does not tile well.

[2016-10-17 20:04] InsomniaKitten opened #84 "[Suggestion] RFTools"
I feel bad for suggesting so much stuff when you already have so many other things to do, buuuuut I noticed that no one has suggested RFTools on here, and I would love to have it Unity-fied, so I thought I'd mention it. :P

[2016-10-17 20:24] Yulife commented on #84
It's already Unity tho...? @MechWarrior99 made the base textures

[2016-10-17 21:24] InsomniaKitten commented on #84
Oh.. Sorry >.< I hope I didn't insult anyone.. I just personally felt that alongside other Unity-fied machinery mods such as Forestry, IC2, and Mekanism, the item textures and some of the block textures felt out of place in RFTools. I guess thats just my opinion though. Feel free to close this issue if you feel necessary. ;-;

[2016-10-17 21:44] MechWarrior99 commented on #84
No insult taken! :)
I never did the items besides the crystal. And I didn't do some of the blocks. And I made them a 'long' time ago. Honestly, they really aren't that good. The main problem I had at the time is that I had to make them look like the original textures, so I felt (at the time) quite limited. I may redo them and PR them to RFTools, or just do a set for Unity, I'm not sure.

[2016-10-19 19:01] Tomson124 opened #87 "SimplyJetpacks 2 (EnderIO Jetpack textures)"
It would be so cool, if you could "update" the textures or the EnderIO Jetpacks so they fit the new retextured EnderIO. If you have extra time it would be very nice if you could redo the other textures, too ;)

[2016-10-20 01:19] T145 opened #88 "ProjectE"
It's 1.10.2 compatible, and in desperate need of Unification.

https://minecraft.curseforge.com/projects/projecte

[2016-10-20 14:48] InsomniaKitten commented on #88
I've actually been working on some ProjectE textures for personal use, but I could easily just PR them to Unity once I feel like they're ready for showing off, then see if they meet the standards of the team. :P

[2016-10-20 14:56] Yulife commented on #88
That'd be awesome, we are currently a bit lacking in terms of amount of texturers lol

[2016-10-20 15:08] InsomniaKitten commented on #88
Here, have a WIP texture for the transmutation table. :P The final one won't look like this, this was just one of my initial drafts. I can't give a date for when I'll be done retexturing the mod, unfortunately.

![2016-10-20_16 04 04](https://cloud.githubusercontent.com/assets/9869940/19565493/e814aabe-96de-11e6-8e1a-7d0f04341f26.png)

(Before anyone says anything, yes, I know I went overboard on

[2016-10-20 15:12] Yulife commented on #88
Woah nice

[2016-10-20 16:02] InsomniaKitten commented on #88
I did another draft of the transmutation table and got rid of the 32x details (still subject to change). Honestly this texture would work well as a sci-fi flooring block lmao. This will be my last update on ProjectE textures for quite a while now.

![transmutethingy](https://cloud.githubusercontent.com/assets/9869940/19567641/62e4dc94-96e6-11e6-8fc1-d00a6aa1c18b.png)

[2016-10-20 18:46] CyanideX commented on #88
I'm tempted to close this issue simply because you think KUDA is the best shader. 😋

Aside from that, I think the texture is beautiful! Well done.

[2016-10-20 18:48] CyanideX commented on #83
Yeah, that's my bad! I meant to fix it but always got sidetracked with more exciting things. 😋 Feel free to submit a PR to fix it if you're able to do so, otherwise I'll get @Yulife to do it.

[2016-10-20 18:51] CyanideX commented on #80
Merged in #71.

They may need a little tweaking later on but I appreciate your Unity support! 😀

[2016-10-20 18:51] #80 closed

[2016-10-20 18:55] InsomniaKitten commented on #88
Well what's your favourite shader then? I'm curious now :P I adore KUDA Shaders, they're lightweight, lively, and they now have reflective puddles when it's raining, which are so satisfying.

I've actually changed that texture quite a bit since. As I said, it's subject to change. There's no obsidian thrown in the mix, respective to the blocks crafting recipe.

[2016-10-20 19:03] InsomniaKitten commented on #88
I feel like I should post a screenshot to show you even though I said no more updates :P Here's the latest revision of the Transmutation Table. My previous texture felt too technical for it's 'magical' purposes, and didn't stay in keeping with it's crafting ingredients.

![2016-10-20_19 57 30](https://cloud.githubusercontent.com/assets/9869940/19573936/1ca2599a-9700-11e6-95a7-f9433f181e86.png)

[2016-10-20 19:41] CyanideX commented on #88
I much prefer the old texture above. Although, the new one does have a more classic feel to it.

To answer your question, my favorite shaders are SEUS 11.

![Sample](http://sonicether.com/shaders/screenshots/v11.0/2016-06-25_16.15.21.jpg)
![Water Caustics](http://i.imgur.com/qsHSVv9.jpg)

The water caustics alone are my reason for using them. The lighting is realistic, unlike KUDA which I find to

[2016-10-20 19:58] InsomniaKitten commented on #88
Okay, colored lighting is something I haven't experienced! But as far as your complaints about over saturation and over exposure, the newer KUDA releases allow you to customize all lighting and tone mapping down to a the tiniest detail.

For example:

![2016-10-20_20 57 56](https://cloud.githubusercontent.com/assets/9869940/19575697/e235442c-9707-11e6-82ac-c71f54fcb6ef.png)

[2016-10-20 20:27] Yulife commented on #88
https://discord.gg/P85VW

[2016-11-01 02:03] MrNinja93 opened #91 "Forestry centrifuge GUI not up-to-date."
Your GUI for the forestry Centrifuge is out of date. They recently changed it, slots have moved so with unity loaded they appear out of position both in JEI and Centrifuge itself.

Current GUI
https://github.com/ForestryMC/ForestryMC/blob/mc-1.10/src/main/resources/assets/forestry/textures/gui/centrifugesocket2.png

Ref: https://github.com/mezz/JustEnoughItems/issues/556

Edit: Fixed centrifuge li

[2016-11-01 02:54] mezz commented on #91
I'll change the name of this texture soon to keep it backward compatible.

[2016-11-01 04:00] mezz commented on #91
Renamed it to `centrifugesocket2.png` so that texture packs can support old and new Forestry versions.

[2016-11-01 10:52] Yulife commented on #91
Fixed!

[2016-11-01 10:52] #91 closed

[2016-11-08 13:54] Alan19 commented on #81
Has there been any progress made on Abyssalcraft? @DarkImp1

[2016-11-08 20:18] #83 closed

[2016-11-17 22:29] Mattabase commented on #55
Poke @CyanideX

[2016-11-17 23:25] CyanideX commented on #55
Damnit, @Mattabase... I was hoping your were intoxicated enough to forget. :P

[2016-11-18 06:42] Speiger commented on #55
Hahaha I think mattabase is someone who doesn't forget...
Also @Mattabase & @CyanideX i just recently added the 1.7.10 Texture rotation feature to 1.10.2 xD that was easier to add then I expected xD

[2016-11-19 09:31] Revemohl commented on #74
Here, I finally decided to start a map with IC2 and felt like porting the textures by myself instead of waiting for @CyanideX.
https://www.dropbox.com/s/9977c36k2is36ny/Unity%20IC2%201.7.10%20backport.zip?dl=0
I had a few issues, though:
- Couldn't find any of these files among Unity's textures: itemLathingTool.png, itemTurningBlanksIRON.png, itemTurningBlanksWOOD.png, reactorVentCore.png, turnabl

[2016-11-20 07:11] Revemohl opened #98 "I have made the Unity IC2 textures compatible with 1.7.10"
I thought it would be a better idea to make this more visible than just posting it on #74, and I've fixed one of the problems I mentioned in my posts there. I also have no idea how to submit a proper pull request (reading Github's help made me even more confused) so please forgive me for submitting this as an issue, I don't know any other way to contact the people working in here.

Link: https://w

[2016-11-22 01:51] Mattabase commented on #55
Nope, I remember @CyanideX =P

[2016-12-17 14:40] Mattabase commented on #55
Poke @CyanideX Just your friendly neighborhood Matta sending you a poke. =P

[2016-12-22 19:09] nexitem opened #100 "Download link for sample PSD is down"
Want to get on the right track in order to try to make some textures that fit your style.

[2016-12-23 18:48] Kalut commented on #73
I did a few textures for AA a while ago,
![retexture](https://media.giphy.com/media/11pCrB34O2lx7i/giphy.gif)
not sure if I will have the time to finnish it though.

[2016-12-23 19:10] Ellpeck commented on #73
I'd happily include the crystals, crystal blocks and armor textures in the mod by default :o

[2016-12-23 20:44] Kalut commented on #73
:O That would be awesome. But when you say whole thing do you mean?

[2016-12-23 20:51] Ellpeck commented on #73
The whole mod would have to have this style. But I hired @InsomniaKitten just today so maybe you can arrange something :P

[2016-12-23 21:00] Kalut commented on #73
ah That's cool, I sadly don't have the time to do the whole thing anyway, but I can let you have and @InsomniaKitten have what I have already made and you can figure out if its something you would want to use.

[2016-12-23 21:10] CyanideX commented on #100
Thanks for the heads up! Fixed.

[2016-12-23 21:10] #100 closed

[2016-12-23 23:14] InsomniaKitten commented on #73
"Hired"? When are we discussing pricing then lol 😉

[2016-12-23 23:45] Ellpeck commented on #73
If you want to be paid in Steam Gift Cards, then sure :P

[2016-12-23 23:56] InsomniaKitten commented on #73
Sounds good to me! 😋

[2016-12-25 17:15] Kalut commented on #73
[retextures.zip](https://github.com/CyanideX/Unity/files/672269/retextures.zip)
Anyway here is most of the textures I had, feel free to use them.

[2017-01-19 05:25] CyanideX commented on #88
How is ProjectE coming along, @InsomniaKitten? 😉

[2017-01-19 05:26] CyanideX commented on #84
@MechWarrior99, how are the new textures coming along? 😉

[2017-01-19 05:29] CyanideX commented on #73
@InsomniaKitten, are you still working on official textures for @Ellpeck or should I keep this suggestion up?

[2017-01-19 05:32] CyanideX commented on #55
Alright, I will get the rest of these finished soon! I didn't forget.

[2017-01-19 19:14] Aidoboy commented on #88
@Yulife What is the Discord invite?

[2017-01-20 18:30] InsomniaKitten commented on #77
\*pokes @CyanideX about the textures you apparently have somewhere\* 😜

[2017-01-23 05:33] T10a opened #102 "[Suggestion] Better With Mods support"
Curseforge link: [Better With Mods](https://minecraft.curseforge.com/projects/better-with-mods)

This mod adds a decent chunk of content to the game, and while it recycles a lot of Vanilla textures (i.e. use them as a basis for the mod's own custom textures), it does seem a bit out of place alongside Unity.

[2017-01-23 15:28] MechWarrior99 commented on #102
I am actually working on support for Better with mods already :)

[2017-01-25 17:47] ArukaAlter opened #103 "IC2 items import wrong parent model"
The parent model should always be "minecraft:item/generated" for items and "minecraft:item/handheld" for tools, otherwise we have sideways tools and enormous items.

![](http://i.imgur.com/gkHfbBa.png)

[2017-01-25 17:56] MechWarrior99 commented on #103
That is actually IC2's fault, we didn't mess with the model files at all for items. But we may look at fixing it for them

[2017-01-26 11:51] Piyotato opened #104 "[Suggestion] Mystical Agriculture"
Been playing lots of SF3 and ATM recently, but the mod that felt most out of place was Mystical Agriculture. Would love it if you did a Unity style Mystical Agriculture retexture, it would really make SF3 and ATM (and any other major pack containing Mystical Agriculture) to be much more immersive and polished :D

[2017-01-26 16:47] MechWarrior99 commented on #104
Added to the todo list. But it may take a while due to all the different crop textures. And other mods on the list as well that still need to be done/finished.

[2017-01-27 17:20] TheCodedOne opened #105 "Applied Energistics 2"
I noticed there are textures in Unity for AE2 but since the latest AE2 for 1.10 switches to lowercase names, its textures in Unity don't work.

[2017-02-11 11:16] engiwengi commented on #105
While I'm not certain I managed to change every single texture's name over to the new format, this is what I've been using myself. Might have missed a few items and blocks, also didn't bother with any of the parts, and particles and such since it seemed that Unity's were the same as default textures.

I'm assuming I'm allowed to upload this? Here it is: [appliedenergistics2.zip](https://github.com

[2017-02-15 14:44] Aidoboy commented on #105
Fork the repo, commit your changes, and submit a pull request.

[2017-02-16 14:02] awkwaRdcaRRot opened #106 "Earthworks Support"
These textures aren't so far off from unity, but there are a few that just don't really fit in at all. So thought it might be cool to get some unity textures to make my world more cohesive.

[2017-02-20 19:40] owetre18 opened #107 "[Suggestion] Pam's Harvestcraft"
I got started with sapling and GUI textures, but idk how to upload them. But there's a ton of textures in the mod, and I think quite a few of them could use the Unity treatment.

[2017-02-20 19:40] owetre18 commented on #107
GUI textures
![watertrap](https://cloud.githubusercontent.com/assets/5685621/23139472/8b979b32-f77a-11e6-9e8b-fb744575c028.png)
![apiary](https://cloud.githubusercontent.com/assets/5685621/23139473/8ba3f58a-f77a-11e6-8c56-2364592ef63d.png)
![groundtrap](https://cloud.githubusercontent.com/assets/5685621/23139474/8bace050-f77a-11e6-91c2-560148cfaf35.png)
![market](https://cloud.githubusercontent.co

[2017-02-21 02:16] owetre18 commented on #107
Sapling Textures

Almond
![almond_sapling](https://cloud.githubusercontent.com/assets/5685621/23148020/555de3d2-f7b1-11e6-8f6b-adbce84dc0ee.png)
Apple
![apple_sapling](https://cloud.githubusercontent.com/assets/5685621/23148021/55665fa8-f7b1-11e6-8fe1-9c24d97dacc0.png)
Apricot
![apricot_sapling](https://cloud.githubusercontent.com/assets/5685621/23148022/5571a8a4-f7b1-11e6-860d-d2f2f76c1353.png)
A

[2017-02-21 21:04] Aidoboy commented on #107
You need to fork unity, add, commit, and push your changes, then submit a pull request on this repo.

[2017-02-21 21:43] owetre18 commented on #107
I think I've done that now. :)

Sorry, very new to Github.

[2017-03-03 22:49] Tomson124 commented on #87
Any news on this? Don't want to force anyone, I am just curious.

[2017-03-04 15:30] MCrafterzz opened #109 "[Question] Can't get the photoshop template working"
When opening it in gimp it only shows the pack icon. Could you possibly create a png file or is there any other solutions to open it because I don't have photoshop.

Thanks for all help I can get!

EDIT: Open it directly in gimp or converting it to a png with a image converter only shows the pack icon

[2017-03-04 16:20] #109 closed

[2017-03-04 16:21] MCrafterzz commented on #109
Fixed it by using import as layers instead of inport

[2017-03-06 06:15] CyanideX opened #110 "Broken File Paths"
Not 100% sure, but I think newer versions of some mods have changed their format or file paths. This is causing the Unity texture not to load.

- [x] Compact Solars fails to load any Unity textures.
- [ ] Applied Energistics 2 fails to load any Unity textures.
- [x] Natura fails to load any Unity textures.
- [x] WR-CBE fails to load any Unity textures.
- [x] Unused Botania textures were left in fo

[2017-03-12 07:35] CyanideX commented on #87
No idea. All of our artists are currently preoccupied.

[2017-03-12 15:56] th4umiel opened #111 "Texture error with refined storage disks (running Unity 1.4.0)"
![2017-03-12_14 09 35](https://cloud.githubusercontent.com/assets/17257735/23833372/ab8869ba-0744-11e7-87c2-9eef2c814acc.png)

[2017-03-12 22:02] MechWarrior99 commented on #111
Refined storage has Unity textures as it's default ones. For now just remove the Refined storage folder from Unity. We have not gotten around to removing it yet.

[2017-03-14 02:27] starg09 opened #112 "[Suggestion] LittleTiles"
This mod could really use some Unification :smile:

Assuming colored blocks not needing this, current items/blocks that'd require the retexturing would be (as of version 1.4.0):

- [x] Little Storage Block
- [ ] Little Particle Block (? Not sure about this one)
- [x] Little Hammer
- [x] Little Recipe
- [x] Little Saw
- [x] Little Container
- [x] Little Wrench
- [x] Little Chisel
- [ ] Little Color

[2017-03-14 03:04] InsomniaKitten commented on #112
I took a look at this mod's textures the other week and took a double take. I find it hard to believe some people still use photo-realistic textures for Minecraft mods. :v This mod is definitely on the to-do list.

[2017-03-14 05:12] starg09 commented on #112
Oh, yeah forgot about uploading that :P

I actually decided to give it a shot, see what I could achieve. And I'm mostly happy with the results, except for the Utility Knife (Don't feel that it quite matches with the rest).

Anyway, will put them as a Pull Request, and hope you like them; but feel free to alter them as much as you want \^^

[2017-03-15 17:09] th4umiel commented on #111
Thanks :)

[2017-03-15 17:48] Tomson124 commented on #87
I started to redo some of the textures on my own, if I have a bit of freetime in the nexxt couple of days I'll show and maybe (hopefully) you like them ^^

[2017-03-18 23:29] CyanideX commented on #111
There aren't any Refined Storage textures in Unity. Was this from the CurseForge download?

[2017-03-19 09:12] raoulvdberge commented on #111
Do you have this issue when disabling the Unity pack, @th4umiel ?

[2017-03-21 01:41] CyanideX commented on #110
Enjoy your first task as an official member of Unity, @InsomniaKitten. 😋

[2017-03-21 21:53] InsomniaKitten commented on #105
Closing, duplicate of #110. Will be fixed soon.

[2017-03-21 21:53] #105 closed

[2017-03-29 05:29] HDShatter opened #115 "1.10.2 Incompatible Error"
1.10.2 has the incompatible error which makes it turn off when you load.

Could you change "pack_format": 3 to "pack_format": 2 in the pack.mcmeta and then upload it as a separate version for 1.10.2?

[2017-04-02 01:26] Aidoboy commented on #115
It still works just fine in 1.10.

[2017-04-02 01:28] CyanideX commented on #115
Yeah, it's just a warning but things still work perfectly fine in 1.10.

[2017-04-02 01:28] #115 closed

[2017-04-02 01:45] InsomniaKitten commented on #115
A hotfix will be pushed to CurseForge soon to solve issues for 1.10.2 players. The GitHub repository will only be supporting 1.11.2 and upwards.

[2017-04-18 22:59] InsomniaKitten commented on #115
Fixed in hotfix release [1.4.1](https://minecraft.curseforge.com/projects/unity/files/2408659)

[2017-04-25 15:46] Mattabase commented on #55
Wanders in... @CyanideX

[2017-04-25 15:47] TheCodedOne commented on #55
_Wanders out..._

[2017-04-26 09:33] Speiger commented on #55
@Mattabase i doubt @CyanideX will finish it how you would like to have it because the mod grew already about an extra 100% between 1.7.10 and 1.10.2 the best you will get is maybe 1.7.10 and thats it.
On top of that IC2C dies the moment 1.10.2 is no longer played.

[2017-04-26 11:32] InsomniaKitten commented on #55
Why is IC2C going to die on newer versions past 1.10.2? Is it lack of free time to port it?

[2017-04-26 11:43] Speiger commented on #55
@InsomniaKitten its because i want to leave minecraft modding.
1.11.2 Would be another 4 months of development when i am done 1.12 is the main version.
And 1.11.2 is basically a 40% ModRewrite because anything with Items related which is basically in almost everything in the mod.
And 1.12 is something that removes TileEntities which IC2C is based of. So i can scrap everything and start from new. A

[2017-04-26 14:01] TehNut commented on #55
There is literally no evidence of this in the snapshot. *Maybe* 1.13, but probably even later.

[2017-04-26 16:19] Speiger commented on #55
@TehNut that doesnt change the fact of a lot of different changes.

[2017-04-26 18:28] InsomniaKitten commented on #55
If someone were to port it, would you be willing to continue maintaining it?

[2017-04-26 21:46] Speiger commented on #55
@InsomniaKitten nobody can port it since ic2c is closed source and nobody except me gets the license for IC2Classic.
And i can ensure you this: As soon it gets out of my hand and someone tries to port it the quallity drops drastilcly.
IC2Classic is the most unatractive thing you can take on in terms if you want to get money from it.
Its a project that takes a lot of time, which people will flame b

[2017-05-06 17:37] th4umiel commented on #111
My god I didn't receive the notification! So, now apparently it works fine. The issue was the combination of Refined Storage and Unity resource pack. But I'd say we can close this issue 👍

[2017-05-06 18:09] #111 closed

[2017-05-17 17:53] #98 closed

[2017-05-18 00:17] TCloudGaming opened #118 "Porting old Textures."
Not really an issue but more of a suggestion, but I noticed that some mods that are both in 1.7.10 and 1.10.2 just don't have their textures ported yet. Is this on purpose? If not I'd like to help do it I'm just not sure how.

[2017-05-18 00:18] Endmateria opened #119 "[Suggestion] Select textures for Cyclic and EbonArts"
Firstly, love your texture pack, thanks for making.  Second, I'm throwing out a couple of requests for textures (not re-textures for the entirety of these mods).
1. Cyclic adds vanilla ores in the nether and the end, and the end textures don't mesh with your upgraded endstone textures. (coal, iron, gold, lapis, redstone, emerald, and diamond).
2.  Ebon Arts also has the same problem, the end ores

[2017-05-18 00:26] CyanideX commented on #118
It's all just a matter of finding the time to update the resource pack for mods that have changed their directory and/or filenames. The easiest way to update them is to unzip the mod .jar file and pull out the assets folder. From there you can see all of the textures and compare them to the previous versions or Unity's textures. If anything is out of place, simply rename the Unity texture and repl

[2017-05-18 09:30] TCloudGaming commented on #118
I finished porting the unity textures for big reactors to exetreme reactors, but I can't put some of the files in here. How should I get them to you?

[2017-05-18 15:03] CyanideX commented on #118
The best way to share your textures is to submit a pull request.

[2017-05-18 17:19] TCloudGaming commented on #118
welp the top one was the exetreme reactors part :P

[2017-05-20 03:47] CyanideX commented on #88
How is ProjectE coming along, @InsomniaKitten? 😉

[2017-05-20 03:48] CyanideX commented on #107
But... I love the Harvestcraft textures.

[2017-05-20 03:48] CyanideX commented on #84
@MechWarrior99, how are the new textures coming along? 😉

[2017-05-21 07:54] Endmateria commented on #119
K, I went ahead and made the textures for the Ebon Arts and Cyclic end ores, as well as Biomes O' Plenty's biome essence ore and ender amethyst ore, Mystical Agriculture's end inferium and end prosperity ores, Extreme Reactors end anglesite ore, and RFtools end dimensional shard ore.  https://ibb.co/hTic5v
Here are the edits... https://drive.google.com/open?id=0B9kfiDMcnmJ9ZE5jT2JuaUc5WTA

[2017-05-21 15:37] InsomniaKitten commented on #119
@Endmateria please could you put these into a pull request?

[2017-05-21 19:44] Endmateria commented on #119
Yeah, I really have no idea how to do that.  Do I need to create my own fork first to add the commits and then open a pull request to the master from there?  Sorry, I've been reading about pull requests but it's all a bit confusing.

[2017-05-21 20:04] tterrag1098 commented on #119
Yes, make a fork (just click the "fork" button top right) and then commit your changes, and create a PR. There are guides on the github help pages.

[2017-05-21 21:01] Endmateria commented on #119
K, hopefully I did it right.

[2017-05-23 19:35] CyanideX commented on #55
Soooo... should I finish it?

[2017-05-23 21:58] Speiger commented on #55
@CyanideX you can finish it. I think people would love to have it as long  they play in 1.10.2 & 1.7.10

[2017-05-27 04:56] CyanideX opened #121 "Unity Revisions"
- [x] Stone types.
- [x] Doors.
- [x] End blocks.
- [x] Shulker Boxes.
- [x] New nether blocks.
- [x] Crops.
- [x] Main menu parorama.
- [x] Menu GUI elements.
- [x] HUD elements.
- [x] Dirt.
- [x] Lava.

[2017-05-29 16:14] Mattabase commented on #55
Poke @CyanideX So, how about those textures?

[2017-05-29 17:17] CyanideX commented on #55
I can finish them I suppose.

It's too bad it won't be for 1.11+... feels like wasted time. But I did promise you I would.

[2017-06-04 22:27] SephirothWS opened #122 "Vanilla Minecraft Magma Block - Missing mcmeta file"
Comes up as a checkerboard texture due to missing mcmeta file.

[2017-06-06 12:17] epiz opened #123 "[Suggestion] Ender Utilities"
I would like to see support for [Ender Utilities](https://minecraft.curseforge.com/projects/ender-utilities).

[2017-06-09 02:17] LukewarmYeti opened #124 "Issues with Models? In 1.10.2/1.11.2 with IC2"
Hi there, just letting you know, the Unity pack is (possibly) causing some weird model issues that don't look intended with IC2, where all the tools look extremely weird when in hand.

http://imgur.com/a/bIZUT  < as shown here.

The swords and tools are not facing straight forward unlike the re-textured diamond vanilla sword (along with all other tools), as you can see. This is the same with _all_

[2017-06-09 03:39] CyanideX commented on #124
I believe that is an issue with IC2 but I can look into it. Does this still occur with Unity disabled? A while ago I remember all items looked huge in hand.

As for gravisuite, I will see what I can do to get that updated.

[2017-06-09 11:58] LukewarmYeti commented on #124
Hi again, made some screenshots with the mining drill to showcase comparisons, hope this helps. (1.10.2 version, - this is the same case with the 1.11 version, not tested any others) It looks like Unity does cause some issues.

Removing the models from inside the resource pack seems to fix the (big?) look of the tools in hand, however I'm unsure whether tools (when removing the model) such as the

[2017-06-09 17:25] CyanideX commented on #124
Thank you for taking the time to do this. :)

I will fix this as soon as I can!

[2017-06-12 18:11] ajakka opened #125 "I tried to fix unity for 1.7.10"
I have fixed some textures for unity 1.1.1
here's what I changed:
- Fix Creative inventory.
- Fix Tinkers Constract compatibility for 1.7.10 + Slight modification.
- Fix Thermal Foundation Sickles for vanilla items.
- Increase water texture opacity (It was causing an issue with the waterstone from Chisel and other blocks that use the water texture).
that's all I remember :)

link: https://www.medi

[2017-06-12 18:12] adrwa commented on #125
i'd recommend you open this as a PR easier for them to see your changes

[2017-06-12 18:17] ajakka commented on #125
I'm not familiar with github, If you could explain what PR is, It would mean the world for me :)

[2017-06-12 18:18] ChloeDawn commented on #125
You need to fork the repository, commit your changed/added files to your fork, then make a Pull Request (a request to merge your changes with the main repository)

[2017-06-12 18:18] adrwa commented on #125
https://help.github.com/articles/about-pull-requests/

[2017-06-12 18:30] Jwigou commented on #125
what to do in the base / compare thing??

[2017-06-12 19:09] Jwigou commented on #125
@InsomniaKitten @TheCodedOne  Can you look to what I did in my profile and see if it's correct cause I'm really confused now

[2017-06-12 19:34] TheCodedOne opened #127 "Computality Support"
computercraft textures suck, and so do mine

in 1.12 its getting some new computers so worth noting about these cause i dunno when they'll be released

http://imgur.com/a/Wq2sO

the metals are

`COPPER, TIN, SILVER, LEAD, NICKEL, PLATINUM, MITHRIL, BRONZE, INVAR, ELECTRUM,  SIGNALUM, LUMIUM, ENDERIUM,`

[2017-06-12 22:04] #125 closed, assigned to nobody

[2017-06-17 20:27] CyanideX commented on #55
Just want to confirm, @Speiger... you're not updating IC2C for 1.12? I think I misunderstood your Reddit post.

[2017-06-17 20:28] CyanideX commented on #65
We will revisit Rotarycraft if it ever updates to 1.12.

[2017-06-17 20:28] #65 closed

[2017-06-17 20:30] #118 closed

[2017-06-17 20:32] CyanideX commented on #103
If this occurs in 1.10+ versions, please submit another issue.

[2017-06-17 20:32] #103 closed

[2017-06-17 21:37] Yulife commented on #110
Forestry's paths should be fixed. There are still some missing textures due to new Forestry features.

[2017-06-17 21:38] Yulife commented on #110
AE2 is kinda ded atm, if it comes back we can consider working on it.

[2017-06-17 21:38] #110 closed

[2017-06-17 22:06] Yulife commented on #122
Checked on 1.11 and 1.12, cannot reproduce so it seems to be fixed (=

[2017-06-17 22:06] #122 closed, assigned to nobody

[2017-06-17 22:48] Speiger commented on #55
So far nope.
This 13 months have exhausted me from mc modding and the issue is in that type of area you have no time to break as long as I would need...

[2017-07-02 22:19] LukewarmYeti opened #129 "Forestry Textures not loading in 1.11.2/1.12"
Unsure why, but Unity's Forestry textures don't load for me in both 1.11.2 and 1.12. Maybe due to forestry updating how they load their textures which is causing conflict with resource packs? They have been updating the mod a whole lot since their first 1.10.2 release.

Saw you guys are planning on making Gendustry textures, that still on hold? I understand people are extremely busy. Also, anythin

[2017-07-11 00:24] SnowShock35 opened #131 "Complete CoFH Mods Support"
# Complete CoFH Mods Support

## Introduction

In a recent commit (shown above), CoFH Mods previous support was updated and made compatible with Minecraft 1.12 versions of the CoFH Mods. However, this is very limited as there's still hundreds of textures missing that need to be added before CoFH Mods are considered completed.

To begin with, I suggest working on Thermal Foundation. It's fairly com

[2017-07-11 00:27] CyanideX commented on #131
I just have to say... the way you structure issues is incredible. 😲

[2017-07-13 00:08] Mattabase commented on #55
Should close this issue, mod requested is dead.

[2017-07-13 00:24] CyanideX commented on #55
I let you down Matt, I'm sorry.

[2017-07-13 01:06] Mattabase commented on #55
No let down sir. <3

[2017-07-13 01:07] Mattabase commented on #123
You can make up for the lack of IC2Classic by doing this one @CyanideX =P

[2017-07-13 01:40] ProfessorProspector commented on #123
tbh this one would probably be more fun to do anyways since he already did IC2 exp

[2017-07-13 02:09] CyanideX commented on #123
Oh wow, those colors!
![image](https://user-images.githubusercontent.com/3106700/28147473-99116466-6735-11e7-80ad-8e61a3d64598.png)
I'll see what I can do when I have some more free time.

[2017-07-13 02:10] CyanideX commented on #55
Will reopen if this ever gets updated to a current Minecraft version.

[2017-07-13 10:19] ghost opened #132 "All banners are white [1.12]"
I use Minecraft 1.12 w/ forge and Optifine
Mods: http://i.imgur.com/FojIle9.png
Texturepacks: http://i.imgur.com/3V5AE7Q.png
If I disable all resourcepacks, except unity - bug is still there, but if I disable only unity, it fixes
How it looks: http://i.imgur.com/OKmpEHQ.png

[2017-07-13 17:58] CyanideX commented on #132
Unity doesn't even replace any files in the textures>entity>banner folder. I don't see how it could affect any textures.

Try having only Unity loaded as a resource pack and restart your game. Try rearranging the resource pack load order. [Try downloading the latest Unity from the repo.](https://github.com/CyanideX/Unity/tree/1.12_plus) Click the green "clone or download" button, then download zip

[2017-07-13 19:26] ghost commented on #132
Looks like it does Faithful + Unity, odd thing, but If I use them separately, the both work

[2017-07-13 19:43] CyanideX commented on #132
You said you already tried it with just Unity. You lied!

[2017-07-13 19:47] ghost commented on #132
no, I just not reloaded my game that time, this time I did

[2017-07-13 19:59] CyanideX commented on #132
Why are you using both a 16x and a 32x resource pack to begin with?

[2017-07-13 20:02] ChloeDawn commented on #132
Some people like to watch the world burn.

[2017-07-13 20:02] ghost commented on #132
because Faithful adds connected logs and, retextures some items, that Unity doesn't and grass is not patterned

[2017-07-13 20:22] #132 closed, assigned to nobody

[2017-07-16 16:50] Notawallplan opened #134 "[Suggestion] Complete Chisel support?"
Title really. I'll be helping a bit here and there myself.

[2017-07-22 19:07] kragnoth commented on #123
Yes please, I love the concept but the textures are definitely programmer level. (still better than my textures though)

[2017-07-28 11:05] asiekierka opened #136 "New wool palette and Unity"
What's Unity's stance on the new wool palette?

![](https://img.asie.pl/QwoJ)

(I have also included Charset's palette, as my personal vision of bridging the gap between 1.11 and 1.12. As the code does not take into account the changed contrast of 1.12 wool, "1.12 vanilla + Charset" looks worse than "1.12 Unity + Charset")

[2017-07-28 11:05] asiekierka commented on #136
Oh, nevermind, "1.12_plus". Sorry.

[2017-07-28 11:05] #136 closed, assigned to nobody

[2017-07-28 11:23] ChloeDawn commented on #136
If we were to switch to your colors, would Charset not just try to recolor the recolored textures anyway? It's better to leave it as is, and let Charset handle the recolor imo.

Edit: Nvm, I got the functionality mixed up in my head.. You desaturate first, right? So it wouldn't look any different. I was imagining it'd look different if you recolored the texture that already included the recolor.

[2017-07-28 13:28] asiekierka commented on #136
@InsomniaKitten I take the white wool texture and recolor it to match the colors in assets/charset/color_palette.json. (On 1.11, anyway. On 1.12, it's currently removed.)

However, I realized 1.12_plus already has changed wool, so I assumed a decision has already been made.

[2017-07-30 11:13] Yulife commented on #129
Can you check again? I fixed this iirc

[2017-07-31 13:36] LukewarmYeti commented on #129
Checked again as requested.

1.12, latest forestry (beta) + Unity 1.5.0. - Pretty sure is the same for 1.11.

Still the same for me. Some of the textures load, e.g. capsules, scoop, backpacks etc.

Some examples of the ones not loading inc: All electron tubes; circuit boards; iodine capsule; pickaxe & shovel kit; both pickaxe & shovel; All the gears; apiarists armor, all electron tubes, all bee co

[2017-07-31 14:36] Yulife commented on #129
Did you DL the latest from Github

[2017-07-31 15:27] LukewarmYeti commented on #129
Ahh I can see your commits on the 1.12_plus branch and haven't tested that version. However I'm not extremely familiar with GitHub and I am unsure whether I just click download or require extra software to access/create the fully created resource pack.

Edit: Figured it out, yes looks fixed to me, the textures are there! There are no textures for circuit boards but I think they weren't part of for

[2017-07-31 18:57] #129 closed, assigned to nobody

[2017-08-04 19:11] whitestarx0312 opened #137 "Binnies Mods"
Binnie's Mods was recently updated to 1.11.2+ and I was wondering if any textures were ever made for it. Additionally, I noticed that bees within extra bees automatically followed the unity design and was wondering if things like wood could be easily fixed to do the same.

[2017-09-11 14:44] MrHellsing opened #138 "[1.7.10] Dense Ores problem"
So... After a year of ~~doing nothing~~ <sub><sup>understanding how GitHub works, <sub><sup>[insert_your_variant_here]</sup></sub></sup></sub>
I've actually decided to post here...
[The problem itself](http://imgur.com/a/CHbws)
And as I've searched through PRs, #24 caused this

[2017-09-11 14:55] InsomniaKitten commented on #138
What is the problem? It looks normal to me

[2017-09-11 15:00] MrHellsing commented on #138
Somewhat hard to differentiate from the first glance

[2017-09-11 18:39] CyanideX commented on #138
So you're saying that you wouldn't mine diamond unless it was dense?

[2017-09-12 09:42] MrHellsing commented on #138
No, I'm just saying what they look a bit too similar

[2017-09-12 09:48] InsomniaKitten commented on #138
Next time please explain your issue, you merely said "problem" and didn't explain what the problem was

_Sent from my Oneplus A0001 using [FastHub](https://play.google.com/store/apps/details?id=com.fastaccess.github)_

[2017-09-20 17:34] ajakka commented on #124
I don't know if it's the proper way but deleting the models folder located in assets/ic2 seems to fix the problem.

[2017-12-14 13:54] JWTHDYTWA opened #139 "IronChest"
In recent update of IronChest mod new Iron Shulkerboxes have been added. In this reason textures that been in "models" directory moved to "models/chest".

[2017-12-14 17:19] JWTHDYTWA commented on #139
Same with items*

[2017-12-16 02:11] Alan19 opened #140 "[Request] Magic Bees and More Bees"
Any chance to take another look at @BBoldt's Extra Bees and Magic Bees retexture? The hives added by other bee mods look really out of place compared to the vanilla hives.

[2017-12-23 03:04] cinnamennen opened #141 "GregTech"
GregTech has been listed as `On Hold` for a good while now, any updates on that?

[2017-12-27 23:18] Zsashas opened #142 "[1.12.2] Tinkers Construct GUIs"
With the pack enabled, I am unable to select different stencils directly from the Part Crafter interface.

Unity enabled:
![2017-12-18_21 39 18](https://user-images.githubusercontent.com/6917535/34395883-29922cc0-eb19-11e7-874a-edb223d67b26.png)

Unity disabled:
![2017-12-27_15 17 24](https://user-images.githubusercontent.com/6917535/34395881-18dca8d8-eb19-11e7-948d-189e29e71415.png)

[2017-12-29 14:10] mainrs opened #143 "Connected textures not properly shown on 1.12"
Currently playing on a modded server and the default glass blocks do not have connected textures shown. Not sure if this pack supports them but it would be a nice addition if not :)

[2017-12-29 15:39] vrork commented on #143
I was about to say that too.  Just confirming that is not a problem only on his side, even with Optfine there are no connected textures

[2017-12-29 15:42] vrork opened #144 "[1.12.2] Tinkers construct (and addons) tools are white"
A good amount of tools (both from vanilla TC and from other mods that are added by PlusTic and Tinkers Defense) are fully white, doesnt matter if the tool is fully made by one material or not.

List of blank textures on tools (i will be adding more as i find them):
Bronze
Many Tinkers Complement (chisels) blank
PlusTic and Tinkers defense tools (most if not all) and ones made with materials provid

[2017-12-29 15:48] TehNut commented on #143
Fairly sure Unity uses CTM (by the Chisel team) to achieve connected textures. Not Optifine.

[2017-12-29 16:04] vrork commented on #143
Yes, but optfine doesnt break ctm. It works just fine in other resource packs

[2017-12-29 16:29] CyanideX commented on #143
You need CTM installed to see connected textures.

[2017-12-29 16:50] vrork commented on #143
I have it. I dont have problems with other textures or mods that add connected textured glasses.

[2017-12-29 17:48] ChloeDawn commented on #143
Please post a screenshot of your issue. Are you using other resource packs alongside Unity?

[2017-12-29 17:53] vrork commented on #143
Not really. Only one other resource pack that only edits the redstone wire. I will post a screenshot as soon as i am in the computer

[2017-12-29 17:57] mainrs commented on #143
![2017-12-28_20 03 51](https://user-images.githubusercontent.com/5113257/34443841-2173d7de-ecca-11e7-8307-6cbe43ed7a82.png)
CTM and Optifine are both installed.

[2017-12-29 18:11] CyanideX commented on #143
Do you have the latest version of Unity Plus from this repo? It's not available from Curse as far as I remember.

[2017-12-29 18:42] mainrs commented on #143
I actually used the curse one. This was the problem. Thank you!

[2017-12-29 18:42] #143 closed, assigned to nobody

[2017-12-29 20:00] vrork commented on #143
Wait, i use the curse one. What i have to do?

[2017-12-29 20:02] CyanideX commented on #143
[You do this: installation.](https://github.com/CyanideX/Unity#installation)

[2017-12-30 02:38] MarshTheBacca opened #145 "AE Does NOT Like This Pack xD"
... I couldn't stop laughing xD
![2017-12-30_02 35 27](https://user-images.githubusercontent.com/34864792/34450747-5893e67e-ed0a-11e7-9b9e-323b875cd850.png)
![2017-12-30_02 35 38](https://user-images.githubusercontent.com/34864792/34450748-58b504a8-ed0a-11e7-802a-862aca524bd5.png)

[2017-12-30 02:41] CyanideX commented on #145
That's not AE. Restart your client with the pack enabled and it should be fine.

[2018-01-01 18:05] mainrs commented on #144
I actually have a bronze lamberjack axe and hammer and both have textures. Maybe restart the client with the pack enabled from the beginning?

[2018-01-01 18:07] mainrs opened #146 "Opinion on use of 3D models"
As of the newer minecraft versions resource pack creators can also use new 3d models I wanted to ask what your opinion is on them. Would you merge them into unity or do you want to have unity look and certainly feel vanilla, meaning that new models would probably take that aspect away.

[2018-01-01 18:08] vrork commented on #144
I can only do that. For some reason unknown to me yet, i cant change texture packs without crashing my game. I wonder if maybe it has something to do with the PlusTic and Tinkers Defense

[2018-01-01 18:11] mainrs commented on #144
I have PlusTIC too, though that I have not have the defense mod installed. You need to select the resource pack prior to starting a game. If I change the pack mid-game, the client often crashes on my side too.
Maybe try to disable the defense mod and try again. Because TIC and PlusTIC both work on my installation.

[2018-01-01 18:21] vrork commented on #144
Probably. I will give it a try. Lets just hope none of my tools get broken

[2018-01-01 19:57] mainrs commented on #144
Backup your world before you try it out though.

[2018-01-06 18:33] ChloeDawn commented on #146
I have been experimenting with 3D models for blocks such as iron fences. I am still not sure as to whether to follow up with it, as I haven't decided the best way to approach some things.

[2018-01-19 19:38] beanaboston opened #149 "AE2 stuff file placement seems messed up"
I was poking around in this pack and some mod jars and noticed that in the AE2 stuff jar it has the folders it has (blocks, items, icons) but the texture pack has the icons folder inside of the blocks. Not sure if the pack still works as I haven't actually tested it yet but figured I'd let you know.
Using unity 1.12 plus (just installed like an hour ago) and AE2 stuff 0.7.0.4 for 1.12.2

DISCLAIME

[2018-01-21 02:32] whitestarx0312 commented on #140
If you download the 1.7.10 version of Unity there are asset files available for the Magic Bees hives which you can then copy into the 1.10/1.12 version and use. They look much better than the default!

[2018-01-21 21:53] #139 closed, assigned to nobody

[2018-01-22 07:47] Dannez opened #152 "[REQUEST/SUGGESTION] - Support for PneumaticCraft Repressurized"
Please add support for PneumaticCraft Repressurized. Personally, I think the textures need an update with the Unity feel. Thankyou :)

[2018-01-28 10:02] mainrs commented on #146
I am experimenting with them too currently. I will post some progress once I have done the simpler ones (like rails, ladders and stuff like that ^^)

[2018-01-30 18:16] mainrs opened #153 "assets folder structure"
I am tinkering around with some textures and noticed that there are actually two folders for the minecraft textures, `unity` and `minecraft`. Looks like unity contains alternative textures like the 3 obsidian ones and minecraft really just holds the vanilla ones. The olny thing that I find strange is that the carrot textures are under the `unity` folder too.
So how are files organized within the a

[2018-01-30 18:29] ChloeDawn commented on #153
The `unity` directory is for textures that don't overwrite anything existing. There are still remaining files in other directories that ideally need to be moved to `unity`, it just hasn't been done yet.

[2018-01-30 21:49] CyanideX commented on #153
The `unity` directory is for CTM and randomized textures.

[2018-01-30 23:31] mainrs commented on #153
Thanks for the answers!

[2018-01-30 23:31] #153 closed, assigned to nobody

[2018-02-15 01:48] #146 closed, assigned to nobody

[2018-02-15 01:49] CyanideX commented on #145
@MarshTheBacca, are you still encountering this issue?

[2018-02-15 01:51] CyanideX commented on #141
Whenever GregTech is updated for 1.12+ we will look into it.

[2018-02-15 01:51] #141 closed, assigned to nobody

[2018-02-15 01:56] CyanideX commented on #152
Sorry but PneumaticCraft has way more problems that just the textures. I would want to fix all of the wonky models too and I just think:

![](https://i.imgur.com/F9lIEHH.gif)

[2018-03-09 13:29] T145 opened #155 "[Suggestion] Christmas Chest Textures"
Couldn't help but notice there's no Unity version of the Christmas present chest textures. I'd love to see all of vanilla fully supported!

[2018-03-10 14:51] Tomson124 commented on #87
As my mod is now at a very stable and working state, I wanted to ask, if there are any news on you guys helping me out with the textures for it. I know you already have a lot of other textures to work on, but if you have the time, I would really appreciate it :) Would also spend some curse points, for the good work you are doing.

[2018-03-10 20:15] CyanideX commented on #87
We will keep it up as a suggestion but I'm not sure if anyone has free time these days. ☹️ Sorry, Tomson.

[2018-03-10 23:16] whitestarx0312 opened #156 "Full Support For Biomes O'Plenty"
There are only a handful of textures for BOP with the majority being left vanilla. I would suggest full support (Mainly woods/leaves) as this is one of the most used mods in modded minecraft and is very visible when exploring worlds.

[2018-03-11 00:09] CyanideX commented on #156
The reason I only did a few is because I think BoP is already one of the best looking Minecraft mods out there. You're right though, I could do the logs and leaves at least.

[2018-03-11 04:05] whitestarx0312 commented on #156
I agree, they are good textures. My suggestion was just for continuity when exploring, and I really like how unity does logs/planks.

[2018-03-16 07:34] CyanideX commented on #155
I've added _something_ for now. I will polish them up a bit in a few months. 😛

https://github.com/CyanideX/Unity/commit/02bc3cf3812b550058ff4cafd4b8a8cd6cc8db07

[2018-03-16 07:34] #155 closed, assigned to nobody

[2018-03-17 15:33] asiekierka commented on #145
Pretty confident this is some kind of AE-specific caching bug and *not* related to Unity - the textures shown here are from MrCrayfish's Furniture Mod?

[2018-03-18 09:19] asiekierka commented on #137
1.7.10 had textures for compartments from BinnieCore, as well as hives from ExtraBees; I pull requested a forward-port of them here -> https://github.com/CyanideX/Unity/pull/157

[2018-03-30 16:49] Managarmr719 commented on #138
I agree with @MrHellsing, while it's not that much of an issue, I would still like them to be a bit easier to differentiate.

[2018-04-03 11:32] ghost opened #159 "Broken leaves and some feedback on Unity 1.6.3 [1.12.2]"
Just downloaded the 1.6.3 update, after I logged in all leaves look like on fast graphics. Restarting didn't help.
![screenshot](https://user-images.githubusercontent.com/20132158/38246549-c6dc68ba-374a-11e8-9ba9-af48f21f7888.png)
I'm using these resourcepacks:
![screenshot_20180403_143035](https://user-images.githubusercontent.com/20132158/38246796-9a9d559c-374b-11e8-9f79-6113b4a1d15a.png)
Also f

[2018-04-03 15:14] ofseaandstars opened #160 "Missing textures for EnderIO (1.12.2 release) [Unity 1.6.3]"
I found that a lot of the EnderIO textures are either missing, or incorrectly rendering... I am unsure if this is a Unity issue, but thought I'd post it here as I have tested with some other resourcepacks (I have linked some screenshots below):

**Vanilla**
![2018-04-03_15 42 23](https://user-images.githubusercontent.com/5949532/38258212-c3a2ddb4-3759-11e8-8334-77bf3baa62e6.png)

**Unity 1.6.3**
!

[2018-04-04 14:35] ate0ate commented on #159
Yeah, I'm experiencing the leaf issue myself. I just found out about this texture pack and love everything but the leaves not being transparent, then I saw older pictures of the texture pack that were correct and realized its a bug. It seems to be only vanilla leaves I think.

[2018-04-04 14:42] ate0ate commented on #159
commit 2b3a0664f4c457a4f0baf614a1286cbac75ad6d7 appears to have deleted the opaque leaves for vanilla trees.

[2018-04-04 14:56] ChloeDawn commented on #159
Does this leaves bug happen without OptiFine?

[2018-04-04 15:50] ate0ate commented on #159
Unsure. I will test, but downloading the latest 1.12-plus resource pack directly from github here results in transparent leaves.

[2018-04-04 16:13] CyanideX commented on #159
Disabling Optfine will fix it if you're using the version from Curse. The repo has the latest leave changes that a pushed a couple days ago; those charges fixed the leaves transparency.

[2018-04-04 16:15] CyanideX commented on #160
Not sure why you put the other resource packs for reference since they don't touch the textures at all. :P

Unity made changes to the models to remove the bezels but it appears to be conflicting.

[2018-04-04 16:17] ate0ate commented on #159
Can confirm that removing Optifine also results in transparent leaves. Yet the newest 1.12-plus branch here has transparent leaves with Optifine I am confused lol. The newest version of Unity for 1.12.2 on curseforge contains Antique Atlas support while the 1.12 plus branch does not. However the 1.12 plus branch contains support for Thermal Expansion/Foundation and Gravel Ores. I had thought the 1

[2018-04-04 16:18] ate0ate commented on #159
Sorry CyanideX, I missed your statement before posting. Thank you for clarifying.

[2018-04-04 16:21] CyanideX commented on #159
No problem.

The repo is missing a few mods and will be readded once fixed.

Regarding Andesite, I don't think it ever really matched stone. 😉 Cobble might change slightly.

[2018-04-04 16:21] #159 closed, assigned to nobody

[2018-04-04 16:37] ghost commented on #159
![screenshot_20180404_193705](https://user-images.githubusercontent.com/20132158/38321220-912c6f6c-383f-11e8-80e6-9726c477b538.png)
Is there a way to avoid this?
-------------------------------------------
also the bottom texture of daylight sensor is broken

[2018-04-04 16:55] CyanideX commented on #159
It looks like you're missing the blockstate json. 😕

[2018-04-04 20:42] redawgts commented on #138
I also agree with @MrHellsing and @Managarmr719.

[2018-04-04 22:27] SnowShock35 opened #161 "1.12.2/1.13] Nether Quartz Ore is outdated"
#### Issue Details

- Minecraft 1.12/1.13
- Unity 1.6.X

#### Issue Description

Netherrack was recently changed in the resource pack. This has lead to the outcome of the Nether Quartz Ore texture being outdated as it uses the netherrack texture as a base texture for the block.

To circumvent this issue, the texture will have to be recreated using the newer netherrack texture in Unity.

#### Issue

[2018-04-04 22:42] CyanideX commented on #161
Fixed! https://github.com/CyanideX/Unity/commit/993cd126e56b79570b75ca28a8ca25f305979ca5

[2018-04-04 22:42] #161 closed, assigned to nobody

[2018-04-05 10:32] ghost commented on #159
Nope, just checked, all blockstate jsons are there

[2018-04-05 10:47] ChloeDawn commented on #159
1) separate issues should go in separate issue tickets
2) I believe this is a bug with BetterFoliage connected grass

[2018-04-05 18:38] ate0ate commented on #160
Yeah, I just noticed this myself. Temporary quick workaround is just to pull the enderio folder out of the texture pack for now and stay with vanilla EIO til things are fixed. Side note, I absolutely am in love with this texture pack. I've been playing minecraft since release and never could get into resource packs, especially with mods. Too dramatic changes and most things just end up clashing. T

[2018-04-05 20:04] CyanideX commented on #160
![gee](http://popkey.co/m/e99b1-blush)

[2018-04-07 06:42] CyanideX commented on #159
Definitely Better Foliage's connected grass. Had the same issue myself.

[2018-04-08 15:01] ate0ate opened #162 "Small connected texture issue with Tinker's Seared Glass..."
https://imgur.com/a/1KxTZ
(first 2 pics)The lop row of seared glass always has frames that seem flipped or mirrored. Small issue, but noticeable.
(last 3 pics)I also had a question about the crafting table texture. Is it supposed to look like it does in the pictures? I know its showing half unity textures and half faithful textures and would look better with vanilla probably, but is that intended

[2018-04-08 16:49] ChloeDawn commented on #162
Faithful replaces the crafting table model, and redirects some faces to custom Faithful-specific textures. You can resolve this conflict by deleting `minecraft/blockstates/crafting_table.json` in your Faithful resource pack's `assets` folder. Next time please keep multiple issues separate, otherwise, it becomes a pain to manage.

I will look into Tinkers' Construct glass in a while.

[2018-04-08 18:33] CyanideX commented on #162
Can this not be fixed by putting the Unity pack above the Faithful pack in the list?

[2018-04-08 18:47] ate0ate commented on #162
InsomniaKitten- I apologize, I was hesitant to open a separate issue for something I was so unsure of. I didn't want to pester or nitpick. I will open individual issues if I am uncertain in the future. Thank you for the fix with the crafting table as well.

CyanideX- Oh Unity is first. Front and center where it belongs lol. Seems faithful intrudes despite being lower priority. I would just remove

[2018-04-08 19:22] ChloeDawn commented on #162
I explained how to resolve the issue. Faithful overrides the crafting table blockstate. Unity does not, so Faithfuls override is still present. Remove the json and it will work as you want.

[2018-04-08 19:28] CyanideX commented on #162
Just remove Faithful altogether. It's a sin to use 16x and 32x resource packs together. 😛

[2018-04-08 22:05] ate0ate commented on #162
Indeed, it is. That moon texture though. Its just so nice and, well, round. Sure it may not fit in at all, not even a little, but It just kinda grew on me. Oh well, when you're right, you're right. I'll scrap it. Its worth it for a more unified Unity:p
Thank you both.

[2018-04-08 22:07] CyanideX commented on #162
Unity has a round moon texture too. If you have it above Faithful in the list then you're probably seeing it already. 😉

[2018-04-08 22:32] ate0ate commented on #162
Oh snap, that's your moon?! The roundness tricked me. I just assumed! Dang, well, you know what they say about assuming... Faithful is definitely getting pulled in that case.

[2018-04-25 20:15] Mii1128 opened #164 "[Suggestion] Thaumcraft 6 support"
It fits rather well but it still doesnt fit quite yet. And its one of the Best (If not THE BEST) magic mods there are for minecraft

[2018-05-06 10:11] realkarmakun opened #165 "[1.12.2] Broken glass"
Problem itself:
![2018-05-06_15 07 03](https://user-images.githubusercontent.com/20980281/39672231-8b749c3e-513f-11e8-9db4-298ba5a4e834.png)

Can my installed mods cause this problem?

[2018-05-06 18:38] CyanideX commented on #165
Are you using the latest [1.12 version from CurseForge](https://minecraft.curseforge.com/projects/unity/files/2547422) or the latest [1.12_plus from GitHub](https://github.com/CyanideX/Unity/tree/1.12_plus)?

[2018-05-07 12:45] realkarmakun commented on #165
CurseForge

[2018-05-07 17:44] CyanideX commented on #165
Are you using the latest version? Can you try using the one from GitHub and let me know if it does the same thing? Are you using Optifine?

[2018-05-07 17:53] CyanideX commented on #165
![2018-05-07_10 52 54](https://user-images.githubusercontent.com/3106700/39716301-d728b912-51e4-11e8-9d3e-34bc3d762c66.png)

Looks fine on my end.

[2018-05-10 21:10] IronPiston opened #166 "1.12: Applied Energistics Textures not applying"
I am using AE2 rv5 stable 11 and the latest version of Unity for 1.12, and textures are not applying. Other textures are applying, so I assume the issue lies with the mod changing the naming scheme of textures.

[2018-05-10 23:37] CyanideX commented on #166
Yeah, it's the naming scheme. They've finally named the files properly and have gotten rid of the 'block' prefix on each texture. It's going to take some time to fix and I don't think anyone is available at the moment. You're more than welcome to make the changes and submit a PR. 😉

Or maybe we can call on the great @SnowShock35. ❤️

[2018-05-10 23:39] IronPiston commented on #166
I'd be willing to fix it, but I have next to no experience using git...
Once I made it, how would I go about doing a pull request?

[2018-05-10 23:48] CyanideX commented on #166
If you're unsure, you can always link to a download of a zip file containing the files. 😃

[2018-05-14 22:54] allaryin commented on #160
I am going to callously bump this issue :) I've been running with the enderio folder deleted on my end, but today just found out that my kids want me to add the mod to their pack... and deleting the folder yet again sounds suuuper onerous :P

[2018-05-14 23:00] CyanideX commented on #160
The fact that your kids are also using Unity warms my heart. Consider it done. 🙂

[2018-05-15 00:02] CyanideX commented on #160
Couldn't figure out what was going on in the new version of EnderIO so I've just removed EnderIO support for now. Hopefully in the future we can add back @BBoldt's demodelization if he is able to update it.

[2018-05-15 01:05] BBoldt commented on #160
Just for the record i'm probably not going to, as i'm not really involved anymore. Sorry to disappoint.

Anyone feel free to work off of what I did though!

[2018-05-18 22:47] JelmarG commented on #166
I have actually been 'working' on and off renaming all AE2 textures for Unity. I can provide a zip at some point. Probably a few days, because it's boring work and I do a bit every now and then. I think some blocks might have changed a little bit as well, like 'quartz_fixture_metal' and 'quantum_ring_light', I didn't see those and some others in the original Unity textures, but at least the zip wi

[2018-05-18 22:52] CyanideX commented on #166
That would be great, @JelmarG! I haven't updated the mod textures in a while so I'm sure there are a few things missing.

[2018-05-19 11:36] xyzatesz commented on #124
The problem still persists on 1.12, IC2 2.8.76. Changing resource packs solved the problem, as well as deleting the assets/ic2/models/items folder

[2018-05-19 19:46] CyanideX commented on #124
They should be fixed now.
https://github.com/CyanideX/Unity/commit/d741368680e930924af222bef21f3168701b8a46

[2018-05-19 19:46] #124 closed, assigned to nobody

[2018-05-22 05:37] desvandev opened #167 "Draconic Evolution Crystals invisible icons when using Unity."
Unity 1.6.3 - 1.12
DE 2.3.10.284
MC 1.12.2
FTB Revelation

[2018-05-22 06:12] CyanideX commented on #167
I'm not sure how that would be caused by Unity since we don't have support for that mod in our pack; no textures have been altered. 😕

[2018-05-22 06:21] CyanideX commented on #167
Works fine for me. Sorry, you're going to have to keep looking for the cause of the invisible crystals. 😞

![2018-05-21_23 18 11](https://user-images.githubusercontent.com/3106700/40345253-4769d5d0-5d4d-11e8-804a-2008f44676cb.png)

![2018-05-21_23 21 57](https://user-images.githubusercontent.com/3106700/40345369-c96bbbd4-5d4d-11e8-8f3b-3dfda0c9ce37.png)

You could also try downloading Unity 1.12_p

[2018-05-22 16:52] desvandev commented on #167
I know that Unity doesn't modify Draconic Evolution textures, that's why I have no idea how to find/fix the problem lol.
Still the same problem with 1.12_plus:
![2018-05-22_13 46 45](https://user-images.githubusercontent.com/8462871/40377320-0657a764-5dc7-11e8-9c77-f3de51835b2b.png)
As you can (not) see, all of the DE "crystals" are blank, if I switch to default everything is ok. The models/textur

[2018-05-22 17:34] ChloeDawn commented on #167
Does this occur when loading other resource packs? Or only with Unity?

[2018-05-22 17:35] CyanideX commented on #167
Does this occur after you restart the game with Unity already enabled or just when applying it the first time in game?

Any chance you could go through the resource pack, deleting one folder at a time to see which one is causing this? You can delete advanced_machines first, for example, and then press F3+T in game to reload the pack.

[2018-05-23 01:32] desvandev commented on #167
I was about to test deleting each folder one by one but it takes ages for me to reload the resource pack. Investigating a little more I found a issue in CTM https://github.com/Chisel-Team/ConnectedTexturesMod/issues/34#issuecomment-350988494 with the same problem.
I don't know if this is something you guys can have a look or...

Anyway, thanks!

[2018-05-23 01:42] ChloeDawn commented on #167
@desvandev can you please try removing `CTP.zip` from your resource packs? That is loaded along with FTB Revelations if I'd read up correctly? And apparently that is the root cause.

[2018-05-23 01:49] desvandev commented on #167
There isn't a CTP.zip file 🤔Only Unity is there in the resource pack folder.

[2018-05-23 01:51] ChloeDawn commented on #167
Oh, nvm then, my bad... I'll look into this further tomorrow. I'm sure the issue is simple... it'll just be abstracted behind some annoying-to-read code.

[2018-05-23 18:58] Jwigou commented on #166
@JelmarG use "bulk rename utility", it should get the work done in no time, I'm just too busy at the moment and couldn't get around to doing so.

[2018-05-23 19:00] CyanideX commented on #166
@Jwigou, a lot of texture names have been changed entirely. This isn't something we can do in bulk unfortunately.

[2018-05-24 03:02] JelmarG commented on #166
Yeah, no, this can't be bulk renamed, unfortunately. I have to carefully check the AE2 directories to see what goes where, and then manually rename the textures. I'm quite far along, though, but as I said, I fiddle with it in between work and other stuff, so it takes a while.

[2018-05-31 16:46] SnowShock35 opened #168 "[1.13] Granite has no Texture in Snapshot 18w22c"
![](https://ss.snowshock35.com/2018/05/1527785142-f4534f30.png)

**Edit:** Probably need to update the file name from `stone_granite.png` to `granite.png` they must have changed it in the last couple snapshots as it worked before.

[2018-06-12 15:32] SurvivalGuy52 opened #169 "[1.12.2] [1.6.3] fancy leaves not working with optifine"
Did some testing, if i have optifine installed the leaves wont be fancy, i remove optifine and it's all back to looking fancy.
![optifine installed](https://user-images.githubusercontent.com/16910494/41300648-3f7f63c4-6e34-11e8-9bf2-133342f87413.png)
![no optifine](https://user-images.githubusercontent.com/16910494/41300652-42dc3fba-6e34-11e8-8f16-40369b6c21d6.png)

[2018-06-12 16:41] CyanideX commented on #169
That's odd. I play with Optifine and it is transparent for me. You must have some settings changed that are preventing it from showing fancy leaves.

Can you try downloading the latest version of Unity from this repo? Try 1.12_plus and 1.13.

[2018-06-12 16:56] SurvivalGuy52 commented on #169
1.12_plus fixes it..
![2018-06-12_12 51 08](https://user-images.githubusercontent.com/16910494/41304914-6a6445f4-6e3f-11e8-921b-eb29ca5bc75a.png)

1.13 on MC 1.12 is a mess for me..
![2018-06-12_12 52 45](https://user-images.githubusercontent.com/16910494/41304999-95909fca-6e3f-11e8-882f-338013ad347b.png)
![2018-06-12_12 52 55](https://user-images.githubusercontent.com/16910494/41305004-97d2b82c-6

[2018-06-12 16:59] CyanideX commented on #169
1.13...
![image](https://user-images.githubusercontent.com/3106700/41305238-2460f2b8-6e27-11e8-817a-29c7ca095065.png)

Thanks for looking into this so quickly. I must've forgotten a few changes in the 1.6.3 upload of Unity. I will see about updating that as soon as I can.

[2018-06-12 17:06] SurvivalGuy52 commented on #169
thanks for pointing me to the 1.12_plus. can't play MC without this texture pack. love this pack.

[2018-06-12 19:27] #168 closed, assigned to nobody

[2018-06-12 20:25] #145 closed, assigned to nobody

[2018-06-12 20:30] CyanideX commented on #160
Removed from pack for now. Might update later.

[2018-06-12 20:30] #160 closed, assigned to ChloeDawn

[2018-06-12 20:31] #121 closed

[2018-06-12 20:33] CyanideX commented on #127
Happy issue anniversary, Coded!

[2018-06-12 20:34] #106 closed

[2018-06-12 20:35] #88 closed

[2018-06-12 20:36] #67 closed

[2018-06-12 20:37] #73 closed

[2018-06-12 20:39] #82 closed

[2018-06-12 20:41] #112 closed

[2018-06-12 20:41] #119 closed

[2018-06-12 20:42] #107 closed

[2018-06-12 20:42] #104 closed

[2018-06-25 20:20] brisingraerowing commented on #162
I just noticed the seared glass issue as well. It really triggers my OCD.

[2018-06-25 20:48] CyanideX commented on #162
![2018-06-25_13 48 07](https://user-images.githubusercontent.com/3106700/41875020-71d0ab54-787e-11e8-8229-f9cdabe7d5da.png)
Fixed. https://github.com/CyanideX/Unity/commit/f1158cd8aeb88f0677078a6e51d9641927f20bf7

[2018-06-25 20:48] #162 closed, assigned to nobody

[2018-06-25 21:03] brisingraerowing commented on #162
Yay! I love this texture pack. It's my favorite one.

[2018-06-26 22:30] JelmarG commented on #166
We should probably wait for this: [Texture/Model cleanup](https://github.com/AppliedEnergistics/Applied-Energistics-2/issues/3546)

[2018-06-28 12:45] Fortist commented on #167
It is simple, I figured it out a while ago.

DE looks for certain block textures, which if I recall is one of the CTM/Randomizing blocks, I think Glass.
You go into the blockstates of DE, find the energy crystal and change "textures" to
[code]
It's a fix. This also happens with YABBA as it only looks for vanilla textures, but that one is a bit more finicky to deal with

[2018-06-28 13:12] ChloeDawn commented on #167
This is an issue with CTM texture metadata not being handled correctly on the blocks in Draconic Evolution, or possibly due to CTM forcing a render layer. This can be resolved on our end by not defining data for the texture, but instead defining data for the models individually in our resource pack. I'll look into it soon.

[2018-06-28 14:06] InsomniaKitten commented on #167
On further testing, this issue seems tied to Connected Textures Pack, not Unity. I will do some further investigate, I'm pretty sure I know how to resolve this.

[2018-06-28 14:14] ChloeDawn commented on #167
This would actually be an issue for any resource pack adding CTM connected textures to the vanilla glass texture, so would be better resolved on Draconic Evolution's end by removing the dummy blockstate JSON. I'll make a pull request for it. Closing this for now, as it is not technically our issue.

[2018-06-28 14:14] #167 closed, assigned to nobody

[2018-06-28 14:43] Fortist commented on #166
Did this over the past hour or so.
https://mega.nz/#!aIEHwQoC!3gWn-CvS4GXZLYgQL2RlLbhnJa6LTJvHNYmhy9LE-iY
A lot of the textures were already the same as the default textures, so I removed them as best I can, but if I deleted some changed ones, someone else can go over it.

Im gonna test and see if these work, but they should. I can reupload onto a different service if mega isnt your cup of tea.

[2018-06-28 21:36] fscan commented on #166
FYI, the cleanup is planned for the 1.13 update together with all the necessary naming changes.  This is probably some time away .. depends when MC releases and how fast forge updates.

[2018-07-01 02:51] Alan19 opened #171 "[1.12.2_plus] Crash from chisel and CTM when this resource pack is installed"
I'm getting a crash with the latest version of the 1.12_plus branch when I open my inventory. It seems to be having trouble rendering an item because of CTM.

https://pastebin.com/wVBY7K8n

[2018-07-01 02:52] adrwa commented on #171
A resource pack cant cause a crash...

[2018-07-01 02:54] Alan19 commented on #171
It didn't crash when I tried to open my inventory without the pack enabled and started crashing when I had it enabled. Should I report this to CTM or chisel then?

[2018-07-01 02:55] adrwa commented on #171
CTM, but its already been reported, solution: downgrade forge https://github.com/Chisel-Team/ConnectedTexturesMod/issues/63

[2018-07-01 02:56] #171 closed, assigned to nobody

[2018-07-01 05:03] Mattabase commented on #144
Can you post a log from the instance that is having this issue?

[2018-07-01 13:27] mainrs commented on #144
The game crashes on my side because of an out of memory error while swapping out textures. Not sure if on @vrork's side the same thing is happening.

[2018-07-01 13:29] adrwa commented on #144
That's got nothing to do with unity, that's cause you don't have enough ram allocated

[2018-07-04 14:54] ruifung commented on #166
@Fortist You have a naming issue in that file, for charged certus crystals, you have _png.mcmeta instead of .png.mcmeta

[2018-07-12 04:13] brisingraerowing opened #172 "Ender IO models / textures need major updating for 1.12"
With all the changes to Ender IO machines in 1.12, the textures provided by Unity no longer work and cause missing textures galore.

[2018-07-12 04:14] CyanideX commented on #172
https://github.com/CyanideX/Unity/commit/356ebd31b4b90d9f2f0d214afab7b4ca6e8e14cc

[2018-07-12 04:16] CyanideX commented on #172
Also, the [official Curse version](https://minecraft.curseforge.com/projects/unity/files/2576530) was updated as well. 😋

![Changelog](https://i.imgur.com/ZsALLNK.png)

Gotta check for updates before submitting an issue. 😉
I really do appreciate you putting in the time and effort to make the issue though.

[2018-07-12 04:16] #172 closed, assigned to nobody

[2018-07-18 15:02] YoYoK3nny opened #173 "[1.13] Mob Spawner texture filename"
The filename for the mob spawner texture is `spawner.png` in 1.13 instead of `mob_spawner.png`

[2018-07-18 15:16] #169 closed, assigned to nobody

[2018-07-18 15:19] #165 closed, assigned to nobody

[2018-07-20 15:26] ghost opened #174 "[Suggestion] Damaged item textures."
Yesterday I've been inspired by [Xisumavoid's VanillaTweaks](http://xisumavoid.com/vanillatweaks) resource pack feature to add textures based on item damage values. I finished all diamond tools and I'm probably going to do that with other tools later today. ![screenshot](https://cdn.discordapp.com/attachments/148172650265575424/469605718375399445/unknown.png)
I need some feedback, does it look goo

[2018-07-23 04:29] Mattabase commented on #174
I dig it. =)

[2018-08-14 09:54] Ashendale opened #175 "[Suggestion] Nether Ores"
I came up with 3 mods while looking into the options, so if it can be done for one of them, it's just a matter of copy/pasta to different folders. The mods I found are:

- [Nether Foundation](https://minecraft.curseforge.com/projects/nether-foundation?gameCategorySlug=mc-mods&projectID=292459)

- [Nether Metals](https://minecraft.curseforge.com/projects/nether-metals?gameCategorySlug=mc-mods&proje

[2018-08-14 11:12] Ashendale commented on #175
Ignore that. I figured how I can do this mysellf and did it for the Nether Foundation mod.

I didn't think it would be simple, but my OCD forced my hand and I was pleasantly surprised.

Would you like to look at them and decide if you'd like to add them to the pack? This is for MC version 1.12.2. I've attached a screenshot. If you can use them, I can just upload them throught whatever preference y

[2018-08-14 16:13] CrankySupertoonArchive commented on #175
mind uploading these files?

[2018-08-14 19:32] Ashendale commented on #175
[My Nether Foundation Unity attempt.zip](https://github.com/CyanideX/Unity/files/2288216/My.Nether.Foundation.Unity.attempt.zip)
There you go. Try them out

Edit: in that folder there is a copy of the netherrack background I used while doing the edits as background. It is unecessary to exist on that folder and can/should be deleted.

Edit 2: after soime more I decided that default RFtools Dimensio

[2018-08-22 19:02] CrankySupertoonArchive commented on #174
It looks very good nice job. Why not upload the files. I might file a PR against you if the textures look good

[2018-11-14 16:04] ErdelyLevy commented on #175
Why did you use vanilla ore textures, and not those that are already in the resource pack?
Top left is mine;
Top right is ur;
Bottom right is Unity;
Bottom left is Vanilla.
![nether_emerald_ore](https://user-images.githubusercontent.com/42609911/48496053-c89def00-e863-11e8-9f72-cbb3c958b22f.png)
So there is my version of nether and end ores created for Netherending Ores in Enigmatica 2 Expert.
And

[2018-11-14 18:27] Ashendale commented on #175
This was the first time I did anything of the sort. Didn't even cross my mind. I was more concerned about the background than anything else. But yeah, yours look a lot better and smoother.

[2018-11-25 16:41] brisingraerowing opened #178 "Ender IO conduit texture handling has changed"
Just an FYI. The textures are going to need updating to work correctly.

[2018-11-25 16:42] tterrag1098 commented on #178
Unity doesn't add conduit textures though?

[2018-11-25 17:14] brisingraerowing commented on #178
I thought it did.

[2018-11-25 17:14] #178 closed, assigned to nobody

[2019-01-21 02:49] IronThumbs opened #179 "[Suggestion] Spartan Weaponry + Shields"
Both these mods generally have textures similar to vanilla, so I don't think it would be super difficult to make textures for them in the Unity style. Not to mention how awesome they'd look.

[2019-01-21 02:58] CyanideX commented on #179
There are quite a few textures that would need to be created from scratch; it won't be a quick one. I'll add this to the list of to-dos for now. 😉

[2019-01-31 20:04] Jummit opened #180 "Advanced Rocketry?"
So I remade some of the Advanced Rocketry textures to fit better together with other mods and thought this could maybe be added to this texture pack?
![Old](https://media.discordapp.net/attachments/441476820588691457/526004634763001867/2018-12-22_12.48.57.png?width=863&height=472)
![New](https://media.discordapp.net/attachments/441476820588691457/526004637917249546/2018-12-22_12.48.46.png?width=86

[2019-01-31 22:04] DrParadox7 opened #181 "Ic2 Classic Retextures?"
Now that IC2 Classic has been updated to the latest 1.12 version are there still plans for its re-texture as there was already some progress since 2016 or has it since been abandoned? I can't seem to find a way to tell if it is in development due to only IC2 showing up but not specifying whether it is Experimental, Classic or both.

[2019-01-31 22:20] CyanideX commented on #181
I guess I should reopen this issue: https://github.com/CyanideX/Unity/issues/55

[2019-02-18 21:04] snakefangox commented on #180
I think you should submit a pull request with these given you've already made them.
I really like the textures so I'll be looking out for it.

[2019-02-27 13:16] ChloeDawn commented on #180
These are some really well-made textures, they look great! Unfortunately, I don't think they would fit in with Unity's style. I'd love to see this published as a resource pack though, I'm sure there are lots of people who would appreciate a lower resolution alternative to the mod's default textures. ^^ I will make sure Advanced Rocketry goes on the to-do list for Unity, although I'm not sure when

[2019-03-01 13:28] alterlove opened #182 "Glitched carrots"
I get this glitch with the carrots in the ground

https://i.ibb.co/93x4Nm8/2019-02-24-04-01-56.png

#Fixed

[2019-03-01 14:14] InsomniaKitten commented on #182
Which version of Minecraft and Unity are you using?

[2019-03-01 16:48] alterlove commented on #182
Last one, 1.13.2 and unity Unity-1.6.3 because it it for 1.13

[2019-03-01 16:54] #182 closed

[2019-03-04 03:18] ghost opened #183 "Thermal expansion sequential fabricator "working" texture missing"
Whenever the sequential fabricator from thermal expansion begins to work (crafting an item), its face texture changes to a purple+black square texture (missing texture). Tested on Minecraft 1.12.2 with latest unity version.

[2019-03-04 19:46] ghost commented on #183
Update: Wrong machine mentioned. The one with missing textures is the sequential fabricator, from thermal expansion. Can't update the title, only the description.

[2019-03-06 00:00] CindyLouWho03 commented on #181
@DrParadox7 First of all is this the IC2Classic by not the IC2 team or is the the offical IC2 with the classic profile in the config. If the latter then you can use the new textures with the older recipes and code and then you can overite the textures with unitys from there

[2019-03-06 00:19] CyanideX commented on #181
If you quickly Google "IC2 Classic" you will see it's the version by Speiger that was recently updated to 1.12. 😛

[2019-03-06 13:13] redawgts opened #185 "YABBA barrels invisible"
Item barrels and Decorative blocks from the YABBA mod are invisible. No sure if it's a mod problem or a problem with Unity.
![2019-03-06_08 11 14](https://user-images.githubusercontent.com/6427199/53883690-ad5c1880-3fe7-11e9-882f-000830652d70.png)

[2019-03-24 17:27] ate0ate commented on #156
I just wanted to add one minor gripe with BoP support as it stands currently. While this is undoubtedly the single best resource pack ever created for Minecraft, and it is doubtful that the hands of any mere mortal could ever hope to come close to its splendor, there is one very tiny thing that could be improved... the flowering oak leaves.

The standard oak leaves added by Unity are great, as are

[2019-03-25 07:18] Jummit commented on #174
Looks very cool! I just noticed one inconsistency: The axe is the only tool where the gem at the handle gets destroyed. It looks kinda silly without it IMO.

[2019-03-25 12:13] jbcraft6 commented on #185
I've seen this as well.

[2019-03-29 02:29] Dimentive commented on #185
To see if it’s a problem with Unity, simply disable the resource pack.

[2019-03-29 02:29] Dimentive commented on #185
To check if it’s a problem with Unity, simply disable the resource pack.

[2019-03-29 02:34] CyanideX commented on #185
It is most likely Unity. Does this happen when applying the pack in-game or does it look like this after a fresh launch of the game with the resource pack already applied?

[2019-04-21 08:22] Dimentive commented on #81
Has there been any progress made on [AbyssalCraft](https://minecraft.curseforge.com/projects/abyssalcraft) yet?

[2019-04-21 08:22] Dimentive commented on #81
Has there been any progress made on [AbyssalCraft](https://minecraft.curseforge.com/projects/abyssalcraft)?

[2019-05-08 11:04] cosmodd commented on #185
I have the same problem, from what I've seen, they are and will remain invisible in any case. I would really like to know how to solve this problem :l
(By any case, I mean fresh launch, pack already applied and when applying it)

[2019-05-08 13:00] CyanideX commented on #185
It's odd because we don't support YABBA so there shouldn't be any assets altering the mod.

[2019-05-15 23:52] anorthwick opened #189 "[Bug] Vanilla Grass block sides (dirt face) not conforming to color palette changes."
Tl;dr: I've noticed it seems to only affect variant grass blocks. In other biomes (or simulation of other biomes due to season mods) these pixels do not change from their default "bright green forest" color.

![image](https://user-images.githubusercontent.com/50017477/57816815-60f92b80-7742-11e9-8bde-e84f22b98bdb.png)

[2019-05-16 00:33] CyanideX commented on #189
That... is hideous! This will be fixed.

[2019-05-16 12:17] ChloeDawn commented on #189
I'll be honest... I thought this was a feature 😄 I was meaning to bring it up with you about the ugliness of it, but I had no idea it was actually a bug

[2019-05-19 12:51] galaxyspectator opened #190 "Thermal Expansion fluids don't update in reservoir"
I have got a problem that when I **pour in/pour out** lava or water or any another fluid into the **Thermal Expanstion reservior** the level of filling gets stuck and if **the tank is actually full** of lava I can only see that **the fluid is on the bottom** bcs of this animation/texture bug. pls help

[2019-05-19 12:59] galaxyspectator commented on #190
![image](https://user-images.githubusercontent.com/50798725/57982472-aa9d8b00-7a4e-11e9-8503-6a2a48577cb0.png)

![image](https://user-images.githubusercontent.com/50798725/57982514-0831d780-7a4f-11e9-8028-753dfdc9946d.png)

[2019-05-21 14:00] ChloeDawn commented on #190
Does this happen with any other resource packs? Or is it only Unity that causes this? If other resource packs can cause this then it is likely a bug in the mod not a resource pack. I don't really see how our pack could be causing this tbh.

[2019-05-21 14:06] #189 closed, assigned to ChloeDawn

[2019-05-26 07:42] galaxyspectator commented on #190
It happens **only with Unity texturepack**. Others ones who change Thermal expansion tuxtures dont cause this problem.

[2019-05-27 08:53] galaxyspectator commented on #190
IT IS OK NOW. cofhcore updated TE recently and fixed this Issue I AM SO HAPPY OHMAIGOT

[2019-05-27 08:54] #190 closed, assigned to nobody

[2019-05-27 16:36] CyanideX commented on #190
![image](https://media.giphy.com/media/xhN4C2vEuapCo/giphy.gif)

[2019-06-04 16:45] SjetCraft commented on #183
Looks like a renaming issue. The 'mcmeta' file was not renamed from the 1.7.10 branch from 'machine_active_assembler.png.mcmeta' to 'machine_active_crafter.png.mcmeta'.

Tested it locally. Can submit a PR later if it will help.

[2019-06-04 16:47] SjetCraft commented on #180
I second the request for a resource pack!

[2019-06-04 17:54] CyanideX commented on #180
These are beautiful textures that certainly deserve to be shared but, like InsomniaKitten mentioned, they aren't quite suited for Unity and its visual style. Please consider starting your own resource pack or releasing these on their own somewhere. :)

[2019-06-04 17:54] #180 closed, assigned to nobody

[2019-06-06 02:30] cridenour commented on #183
I just hit this today actually, and submitted #191.

[2019-06-16 12:44] SheroxGG commented on #185
I am still having this problem, any way to fix it? Ty!

[2019-07-27 11:12] chazwarp923 commented on #185
I just did a ton of testing, and the only solution that actually fixed the issue, was removing any textures that had ctm. I'd say it's an incompatibility between yabba and ctm. Tested with literally just yabba, ftblib and ctm. Nothing else.

[2019-08-08 13:00] SnaveSutit opened #192 "How to "officially" declare that I am working on a Unity branch?"
I am working on creating a branch of Unity for Immersive Vehicles (aka MTS) and I would like to have it displayed on the "Mods in Progress" table that I am. Is there something I need to do to make that happen? or do I just ask?

[2019-08-14 09:58] murilorodelli commented on #185
This is happening to me as well

[2019-09-03 13:16] turkiAnura opened #193 "railcraft actuator rendering issue"

[2019-09-03 13:41] #193 closed, assigned to nobody

[2019-09-30 07:23] CyanideX commented on #185
@ChloeDawn do you know why this is still happening? I can't seem to figure out the cause; we don't even have textures for Yabba.

[2019-10-07 16:05] furtabs commented on #192
I believe that is for official  updates only but you could try PRing the Readme.md

[2019-10-07 19:12] ChloeDawn commented on #192
Please could you provide a link to the mod's repository (or repository where the assets are)?

[2019-10-09 17:08] murilorodelli commented on #185
It is still happening. And I'm sure it is Unity textures that cause it. I've tried with and without optifine with same results. The same as the picture on top. I'm using 1.12 version

[2019-10-09 18:56] CyanideX commented on #185
![Image](https://i.imgur.com/wTXrMAv.png)

This is with the latest Unity for 1.12 from CurseForge and YABBA installed. There is no issue with Unity that I can see.

Seems like it might be another mod interaction or perhaps OptiFine settings?

[2019-10-09 19:00] tterrag1098 commented on #185
Just for the record, a problem going away when something is uninstalled does NOT mean that the fault lies with that thing. There are so many interactions going on, you simply cannot draw that conclusion. First step to solving a problem like this is to reduce variables, which means installing ONLY Unity and YABBA, which @CyanideX has done for you above. This tells us that the problem is triggered b

[2019-10-09 19:54] CyanideX commented on #185
I've released a workaround:

https://www.curseforge.com/minecraft/texture-packs/unity/files/2805035

[2019-10-09 19:54] #185 closed, assigned to nobody

[2019-10-18 12:53] Contri66 commented on #144
Foam Fix's Dynamic item models do this. Make sure dynamicItemModels is set to false in the config.

[2019-12-12 21:14] BapDorf opened #196 "Missing Lit Blast Furnace Texture"
Blast Furnaces do not seem to have a lit texture, and so revert to vanilla texture when smelting

[2019-12-25 01:24] CyanideX commented on #196
Fixed in latest release.

1c0ad2cfb797986b7af51e50fe14f31332d9b8a8

[2019-12-25 01:24] #196 closed, assigned to nobody

[2019-12-25 01:25] #192 closed, assigned to nobody

[2019-12-25 01:43] CyanideX commented on #78
Moved to the modded repo: https://github.com/CyanideX/Unity-Modded/issues

[2019-12-25 01:43] #78 closed

[2020-01-08 21:44] Hyrumveneno opened #197 "Fixed Draconium Dust in Unity Style"
I drew the dust because it looks off and it needed to be unified.
![texture preview](https://user-images.githubusercontent.com/9869940/72194582-1382aa80-3406-11ea-9771-b2b5a54b7ebb.png)
![texture](https://user-images.githubusercontent.com/9869940/72194578-0b2a6f80-3406-11ea-8312-a6ca5d9b28bf.png)

[2020-01-09 00:58] CyanideX commented on #197
<img src=https://user-images.githubusercontent.com/3106700/72028574-e84a6080-3237-11ea-85e6-704cbc669a09.png width=48px>

From what I can see, it does look much nicer. :)

Please note that modded support for Unity has been moved to [this repo](https://github.com/CyanideX/Unity-Modded/issues). If you want to work on a few textures for 1.14 mods, please feel free to submit a PR on the Unity: Modded

[2020-01-09 00:58] #197 closed, assigned to nobody

[2020-02-17 01:43] Brettehwarrior commented on #144
Confirmed, this fixed it for me

[2020-03-21 18:19] brisingraerowing opened #198 "[1.14.4] Blast furnace lit texture error"
A picture is worth a thousand words, so:

![2020-03-21_14 18 15](https://user-images.githubusercontent.com/250409/77233603-fba27200-6b7e-11ea-9e48-4be8fd422bc6.png)

[2020-03-29 03:48] RexOrbis opened #199 "Bug with Tree Leaves in distance"
I have been having a problem with tree leaves on the 1.12.2 version of Unity. There is a border some distance away from the player where closer leaves are darker and the leaves beyond are slightly lighter in colour. This bug is not visible from my testing with the vanilla resource pack.
I am playing with fancy settings and mipmap 4, and changing these values doesn't seem to change this border in a

[2020-03-29 07:22] CyanideX commented on #199
There's nothing I can do about that, sadly. It's just how the texture tiles at distance from that angle and no amount of anisotropic filtering can fix it. I would have to remake the texture specifically for that issue. 😓

I may revisit this issue later but, at the moment, it's not my top priority. Thanks for bringing it up though!

[2020-03-29 07:22] #199 closed, assigned to nobody

[2020-03-29 23:03] RexOrbis commented on #199
So, which textures can I delete to make this problem go away? Just delete all the leaf textures and it'll be fine?

[2020-03-30 00:43] CyanideX commented on #199
Yes, deleting the leaves textures would solve the issue if it's really bothering you that much. An alternate option would be to use OptiFine and use it's anisotropic filtering options.

![OptiFine](https://i.imgur.com/L3rK7pj.png)

It also seems that the newest Unity jungle leaves may not have this issue. The image below was also taken in version 1.15 so that could be another reason why the issue

[2020-03-30 01:04] RexOrbis commented on #199
I used optifine and turned anisotropic filtering up to trilinear but it didn't fix the problem. I will try using the 1.15 textures.

Edit: in Unity 1.15, there is both a "minecraft" and "unity" folder, which both contain leaf textures. Which do I use?

[2020-03-30 02:46] CyanideX commented on #199
You need to change the anisotropic filtering slider (max of 16x), not just the method of AF.

![image](https://user-images.githubusercontent.com/3106700/77870228-bc66c780-71f5-11ea-8dde-fba20439e29b.png)

Don't go too extreme though. It doesn't always look good. 😝

![image](https://user-images.githubusercontent.com/3106700/77870303-e15b3a80-71f5-11ea-8764-8986539ebba7.png)

To answer your question

[2020-03-30 02:50] CyanideX commented on #199
Quick update: this is what mine looks like with OptiFine installed, 'Mipmap Levels' off, 'Mipmap Type' set to nearest, and 'Anisotropic Filtering' off.

![image](https://user-images.githubusercontent.com/3106700/77870541-8a099a00-71f6-11ea-9c49-21339b39fb41.png)

[2020-03-30 22:41] RexOrbis commented on #199
Thank you so much, that improves everything.

[2020-04-06 17:34] InboundBark commented on #181
Is this still being worked on?

[2020-04-06 19:52] CyanideX commented on #181
No, it is not currently being worked on but I may come back to this when I have some free time.

[2020-04-21 09:42] LUEZIS opened #200 "Texture suggestions"
Can you integrate pack with mods: Into The Maelstorm, Sublime and SOM (Magic Kingdoms Mod)?

- Texture of Obsidian Obelisk doesn't fit into obsidian floor under it.
- Sublime is a good mod that deserves rework
- SOM is also a great mod that adds bunch of new biomes

[2020-04-26 05:33] CactusDuud opened #201 "[Suggestion] BountifulBaubles"
It just... [doesn't look good](https://www.curseforge.com/minecraft/mc-mods/bountifulbaubles).

Most of the textures are fine in normal Minecraft but really stand out with this pack.

[2020-04-26 05:47] CyanideX commented on #201
Will add it to the list of suggestions, although I don't know when we will get around to it. Thanks for submitting this. 🙂

Just a heads up, future mod retexture suggestions should be made here: https://github.com/CyanideX/Unity-Modded

[2020-04-28 17:25] CactusDuud commented on #201
Thanks. I might actually do it myself, as I just found your PSD. I'll let you know if I end up doing so.

[2020-04-28 18:51] Burntninjas opened #202 "Missing thermal textures"
The signalum flux capacitor texture is missing or not made, the rest are there.

[2020-05-04 15:14] xxKingCrashxx opened #203 "Port to Bedrock Edition"
I love this texture pack.  I use it as my main in java for almost anything.  I noticed that the bedrock edition has little to no good texture packs and you might find fans on that platform as well.  Just another option you could do.

[2020-05-07 14:27] UndarkAido commented on #203
https://github.com/CyanideX/Unity/blob/1.14/LICENSE.md Prbably stops even @CyanideX from publishing it to the store

There are some converters though, e.g. https://github.com/ozelot379/ConvertJavaTextureToBedrock

[2020-05-07 14:30] UndarkAido commented on #203
Here you go: [Unity-1.14.mcpack.zip](https://github.com/CyanideX/Unity/files/4593537/Unity-1.14.mcpack.zip)

Hmm, I wonder if this could be automated with a GitHub Action

[2020-05-07 17:07] CyanideX commented on #203
It doesn't convert well with those converters. At least not to my standards. 😛 I've been working on a Bedrock version but I do not have an ETA.

[2020-05-17 05:44] KaozNeko opened #205 "No issues"
just a thought when will this texture pack be updated. Really love the flow of the pack and fits well with everything.

[2020-05-17 17:35] #205 closed, assigned to nobody

[2020-07-14 23:19] BrinCho opened #206 "no break particles for closed door"
![2020-07-14_16 18 57](https://user-images.githubusercontent.com/68305758/87485478-c4ecdd80-c5ed-11ea-8629-f6345a0dd92b.png)

[2020-07-14 23:25] ChloeDawn commented on #206
Which version? Tested 1.16 and door seems fine.

[2020-07-16 07:21] CyanideX commented on #200
Please submit any mod requests on the Unity Modded repo, [found here](https://github.com/CyanideX/Unity-Modded), including a link to the mod download on CurseForge. 🙂

[You can select **Get Started** under the Mod Suggestion section!](https://github.com/CyanideX/Unity-Modded/issues/new/choose)

[2020-07-16 07:21] #200 closed, assigned to nobody

[2020-07-16 17:32] BrinCho commented on #206
Sorry for the late reply, I tried doing it again and it was fine, very
strange. It was 1.16

On Tue, Jul 14, 2020 at 4:26 PM Chloe Dawn <notifications@github.com> wrote:

[2020-07-16 17:36] BrinCho commented on #206
Sorry for the late reply,  It was 1.16 and it happened when i did not enable
Unity dark edition. But whenever I had it on it was fine

On Tue, Jul 14, 2020 at 4:26 PM Chloe Dawn <notifications@github.com> wrote:

[2020-07-16 17:45] CyanideX commented on #206
Yeah, I just tested it and it occurs only with the door facing a certain direction.  Will fix this soon!

[2020-07-16 17:53] CyanideX commented on #206
Fixed in 0d8a7b7.

[2020-07-16 17:53] #206 closed, assigned to nobody

[2020-07-17 00:14] CyanideX commented on #198
Was this ever fixed? 😕

It's definitely working in 1.16 but I'll check out 1.14 soon.
![image](https://user-images.githubusercontent.com/3106700/87734708-44161900-c788-11ea-8bf2-36332cc1c6f3.png)

[2020-07-17 00:21] CyanideX commented on #198
5c11bed fixes this issue. I will look into an updated release on CF at a later date.

[2020-07-17 00:21] #198 closed, assigned to nobody

[2020-07-17 00:36] CyanideX commented on #183
29a7248 has fixed this issue.

[2020-07-17 00:36] #183 closed, assigned to nobody

[2020-07-17 00:49] #144 closed, assigned to nobody

[2020-07-17 00:54] CyanideX commented on #173
Better late than never. 😅

Fixed in c38488d.

[2020-07-17 00:54] #173 closed, assigned to nobody

[2020-07-17 00:58] CyanideX commented on #175
If this mode ever updates past 1.12, we can reopen this suggestion.

[2020-07-17 00:58] #175 closed, assigned to nobody

[2020-07-17 01:00] CyanideX commented on #174
I still like this idea. 🙂 If you ever get around to submitting a PR, I will happily accept.

[2020-07-17 01:00] #174 closed, assigned to nobody

[2020-07-17 02:26] brisingraerowing commented on #198
I stopped using 1.14.4 as soon as Create came out for 1.15.2, and the texture worked there, so I ended up forgetting about this. At least it's fixed.

[2020-07-18 08:26] Prospector opened #211 "Missing Prismarine Variants"
![image](https://user-images.githubusercontent.com/6166773/87848473-bfb1bc00-c895-11ea-8bc1-5a07491dc07b.png)

[2020-07-19 05:49] CyanideX opened #212 "Incorrect Prismarine Brick Variants"
Somehow the WIP prismarine brick textures slipped into the release. 😅
![2020-07-18_22 47 42](https://user-images.githubusercontent.com/3106700/87868253-e7159100-c948-11ea-84b0-b789766d02d2.png)

See issue #211 for that other mess...

[2020-07-19 18:54] CyanideX commented on #212
![2020-07-19_11 53 54](https://user-images.githubusercontent.com/3106700/87882678-96d51800-c9b6-11ea-85b6-a564e687b3de.png)

[2020-07-19 18:54] #212 closed, assigned to nobody

[2020-07-19 18:54] #211 closed, assigned to CyanideX

[2020-07-21 02:53] iam-cult opened #213 "Textures inconsistent"
Textures of things like stone and ores are only sometimes changed, and torches placed on walls use the vanilla texture

[2020-07-21 03:11] CyanideX commented on #213
This issue does not follow the provided template. These templates exist for a reason: it avoids having me ask the same questions over and over again. First and foremost, what is the version of Minecraft and Unity that you are experiencing issues with? This goes in the title of your issue.

**Describe the Issue**
A clear and concise description of what the issue is. So far, I see that stone and ore

[2020-07-21 03:30] CyanideX commented on #213
Fixed torches in fee099b!

![Torches](https://user-images.githubusercontent.com/3106700/88009677-ee16dd80-cac7-11ea-9179-06505c784916.png)

[2020-07-21 17:28] CyanideX commented on #213
Closing this for now since I'm assuming your issue with textures is that they're using variants. Please feel free to reopen if you can share a screenshot and provide further details.

[2020-07-21 17:28] #213 closed, assigned to nobody

[2020-07-22 14:14] iam-cult commented on #213
I didn't have time to take screenshots, I'll try to get some today :)

[2020-07-22 14:16] iam-cult commented on #213
If the issue is still present I will open a new issue

[2020-07-22 14:42] iam-cult opened #214 "[1.16.1]Textures are vanilla in some cases"
**Describe the Issue**
variants of coal, as well as stone textures, include vanilla base textures, in addition, stone that is places takes on a vanilla texture. This could be intentional, but I'm reporting here anyways

**To Reproduce**
Steps to reproduce the behavior:
1. Load up minecraft 1.16.1 with unity 2.3.1
2. Go to a mountains biome
3. look at the various clusters of coal, and at the stone

[2020-07-22 16:20] CyanideX commented on #214
That is very much intentional. Those are variants the same blocks which are designed to look different and avoid obvious tiling patterns.

![image](https://user-images.githubusercontent.com/3106700/88201288-1ef82f00-cbfc-11ea-91d9-75586b50ca5c.png)

The above screenshot shows vanilla dirt (1 texture with random rotations) while the one below is Unity dirt with variants (8 textures with varying col

[2020-07-22 16:22] iam-cult commented on #214
I was wondering, the ores use the less vanilla stone variant as a background, but I get that the ore textures correspond to the stone ones

[2020-07-22 16:22] iam-cult commented on #214
Thanks for the help

[2020-07-22 16:27] CyanideX commented on #214
I will see about revisiting the ore textures to make sure they don't stick out too much; that wasn't my goal. Please let me know if you come across any other variants that are a bit jarring. 😀

[2020-07-22 16:27] #214 closed, assigned to nobody

[2020-07-24 03:25] AmericnWerewolf opened #215 "Incorrect Spruce Door Texture"
**Some textures are still default not custom**
Some of the textures in the unity resource pack are the default texture suck as spruce doors and trapdoors, it makes them stand out compared to other textures like spruce planks

**To Reproduce**
Steps to reproduce the behavior:
1. Go to 'Forge'
2. Click on 'Unity'
3. Click on 'Download'
4. See error

**Expected Behavior**
For all the textures to be l

[2020-07-24 03:42] CyanideX commented on #215
![image](https://user-images.githubusercontent.com/3106700/88358714-f1f36b80-cd24-11ea-94b6-7880953f0096.png)

Yeah, it should look like this. 😅

[2020-07-25 08:09] CyanideX commented on #215
![2020-07-25_01 03 31](https://user-images.githubusercontent.com/3106700/88452421-673d6a00-ce13-11ea-868a-8c7749aab34d.png)

Fixed in 635e768

[2020-07-25 08:09] #215 closed, assigned to nobody

[2020-07-29 21:59] AmericnWerewolf commented on #215
thanks for fixing this, I tried reinstalling the texture and it didn't change is there a certain place I have to go to redownload it?

[2020-07-29 22:30] CyanideX commented on #215
I haven't released an update on CurseForge yet but you can download the build from our actions tab on the repo.

[Here is a link to the latest zip.](https://github.com/Unity-Resource-Pack/Unity/actions/runs/184729726) Just click on the file named **_unity-1.16-19aad78.184729726_**.

[2020-07-29 22:55] AmericnWerewolf commented on #215
ok thanks!

[2020-08-01 06:57] axieum opened #216 "Lever in Inverted State"
**Describe the Issue**
The lever model is inverted when placed on a wall.

**To Reproduce**
Steps to reproduce the behaviour:
1. Place a 'Lever' vertically on a wall
2. Notice how the lever is in the down position initially
3. Click the 'Lever' and notice that it is now in the up position and is active

**Expected Behaviour**
A lever is un-powered in the up position, and powered in the down positi

[2020-08-01 07:35] CyanideX commented on #216
![image](https://user-images.githubusercontent.com/3106700/89096819-4b474480-d38e-11ea-9766-14b8dcc35b7b.png)

My goal was to make it more like a switch (or light switch) which uses the upward position to indicate 'on', unlike levers which are typically activated when pulling down. If you'd prefer to keep them the other way, the fix is very simple: head to the following directory and swap the name

[2020-08-01 07:35] #216 closed, assigned to nobody

[2020-08-01 11:37] axieum commented on #216
The item itself is called a "Lever", maybe you could consider renaming it to a "Switch" if that is even possible in a resource pack?

Thank you for taking the time to show how to make this change on our ends! ❤️

[2020-08-01 16:01] CyanideX commented on #216
I don't like to change the names of blocks or items because it would make it difficult for people to search for them if they were not aware of the name change.

[2020-08-10 13:01] Slava0135 opened #217 "[1.16.1] Cyan Terracotta"
**Suggestion**
The problem is that Cyan Terracotta has a different color comparing to vanilla. And cos of this it ruins some buildings that use this block. Mainly due to mixing other grayish blocks like gray concrete and etc.
![2020-08-10_15 59 51](https://user-images.githubusercontent.com/40753025/89785194-ab727f00-db22-11ea-897c-8fc812ac5913.png)
![2020-08-10_16 00 07](https://user-images.github

[2020-08-10 13:08] Slava0135 opened #218 "[1.16.1] Melon's texture is mixed"
**Describe the Issue**
Melon's top/bottom texture is "new" one and melon's side texture is "old" one

**To Reproduce**
Look at the melon

**Expected Behavior**
Consistent melon texture

**Screenshots**
![2020-08-10_16 04 17](https://user-images.githubusercontent.com/40753025/89785865-b37eee80-db23-11ea-986d-2bebeae20b82.png)

[2020-08-10 17:36] CyanideX commented on #217
This has been an internal conflict for me for so long; either I make the colors match their names and correct the palette for consistency across all colored blocks or I keep the color palette as close to vanilla as I can to avoid this exact issue. In the end, I think I want Unity to be what I thought vanilla should be. Cyan shouldn't look grey, in my opinion.

The same issue is happening with the

[2020-08-10 21:31] CyanideX commented on #217
![image](https://user-images.githubusercontent.com/3106700/89833517-09e53080-db16-11ea-91b4-2164b6fb6cc2.png)

Smooth stone in Unity is also an option. 🙂

[2020-08-11 13:50] Slava0135 commented on #217
I think it would be fine if you will make an add-on that fixes this issue

[2020-08-11 14:49] AnotherVagabond opened #219 "[1.2.0] Sugar Cane has missing pixels."
I took a look at the ,png in the .zip file, and it looks like all the right pixels are in the file, but they're not getting placed on the model properly, so my guess is something in the model file is off by a pixel or two.

![2020-08-11_10 46 10](https://user-images.githubusercontent.com/52096715/89912152-381f4a80-dbc0-11ea-9033-3d5edcf5e4c2.png)

[2020-08-11 16:17] CyanideX commented on #219
Please follow the suggested issue template next time; it would really help us narrow down the issue.

Are you using any other resource packs or mods? If you're using other resource packs, which order do you have them in? Are you mixing CurseForge downloads with GitHub versions?

You also wrote **1.2.0** in your title but Unity 1.2.0 was from Apr 24, 2015 and I'm assuming you don't mean Minecraft v

[2020-08-11 17:02] AnotherVagabond commented on #219
Oh sorry, I didn't think most of that info was relevant for resource packs, my bad. And actually, after you mentioned the load order I checked and it looks like I accidentally put Unity Modded before Unity Base, which seems to be what caused the problem (and it's also why I misread the version number, it's Modded that's at 1.2.0, Base is 2.3.1). Switching them back around fixed the issue, sorry fo

[2020-08-11 17:05] CyanideX commented on #219
Hmm, that is still an issue I will have to look into. Modded shouldn't be touching the sugar cane.

[2020-08-11 20:19] AnotherVagabond commented on #219
Ah, okay then. Just in case it helps:

I'm using Unity Base, Unity Modded, BDCraft Music, and BDCraft Sounds (now in that order, but the problem was when Base and Modded were swapped). I changed a few textures in Base, but nothing that should have interacted with sugarcane, just icons and cobblestone (plus its variants), and added a folder for Quark to change its cobbed stone and cobblestone brick

[2020-08-14 08:25] Slava0135 opened #220 "Thoughts about Nether Star"
**Suggestion**
Unity Nether Star doesn't feel like a star. First time I installed this resourcepack I was playing on minigames servers. And I didn't recognize it at all. "What is this item? It should be a common one but I can't remember what item servers do usually use for menus...". And this happens cos Unity version has only one axis of symmetry instead of two. It should look like a cross - not

[2020-08-14 08:27] Slava0135 commented on #220
I gave quite a lot of feedback recently. I really like the way everything looks. But still have some complaints about it. :)

[2020-08-23 18:42] CyanideX opened #221 "Podzol Variant"
- Bottom missing from rock variant.

[2020-08-29 04:11] TooManyKitKats opened #222 "1.16.1 Prismarine texture in 2.3.1"
Describe the Issue
Some Prismarine variants missing in prismarine blocks, all slab, stair, and wall textures are missing completely

To Reproduce
place blocks in game
Using base 2.3.1, optifine and sound filters mod
Expected Behavior
textures to be present

Screenshots
![image](https://user-images.githubusercontent.com/62522289/91628249-e0d4f480-e98b-11ea-8a07-43fc70e591ef.png)
![image](https://us

[2020-08-29 04:41] CyanideX commented on #222
Does this happen with just the base Unity? 2.3.1 for 1.16 has the prismarine fixes. Looks fine on my end.

[2020-08-29 14:16] TooManyKitKats commented on #222
My apologies I guess the PBR was the issue, it doesn't work in vanilla or with optifine.

[2020-08-29 16:37] CyanideX commented on #222
https://www.curseforge.com/minecraft/texture-packs/unity-pbr

Did you read the important notices? 😛

**_All textures are a work in progress and do not fully support the base Unity resource pack block variants._**

![image](https://user-images.githubusercontent.com/3106700/91641697-1a811c00-e9db-11ea-942d-ff9806f65323.png)

[2020-08-29 16:54] TooManyKitKats commented on #222
I did, sorry I didn't clarify but even with alternate blocks off the stairs, slabs, and walls don't have textures

[2020-09-02 17:15] slizen2005 opened #223 "1.16.2 zombie villager texture"
**Describe the Issue**
zombie villager without hand's, his hand's on head like hat

**Expected Behavior**
Consistent texture

**Screenshots**
![2020-09-02_22 05 55](https://user-images.githubusercontent.com/70656809/92015084-b1e2c800-ed69-11ea-90bc-17a8e9c35238.png)

[2020-09-02 18:16] CyanideX commented on #223
Please fill out the full issue template.

Mods? Other resource packs? Unity versions?

[2020-09-03 04:28] slizen2005 commented on #223
no mods, better leaves, 2.3.1

[2020-09-04 07:09] DoctorAbe42 opened #224 "[2.3.1] Broken sun texture"
**Describe the Issue**
The sun has the same texture as the full moon.

**To Reproduce**
Steps to reproduce the behavior:
1. LOOK UP.

**Expected Behavior**
I would prefer for the sun to have maybe even no texture, just a white hexagon, or just the moon texture with much lower contrast.

**Screenshots**
![2020-09-04_00 07 19](https://user-images.githubusercontent.com/70744395/92209939-c050e280-ee42

[2020-09-04 07:58] CyanideX commented on #224
Is that really bothering you? 😝

Don't be Trump. Don't stare at the sun.

![image](https://user-images.githubusercontent.com/3106700/92215509-bc748e80-ee49-11ea-8ee1-cc1d1ee88801.png)

[2020-09-04 07:59] CyanideX commented on #224
If you want a brighter sun, I've included it: https://github.com/Unity-Resource-Pack/Unity/tree/1.16/assets/minecraft/textures/environment

![image](https://user-images.githubusercontent.com/3106700/92215576-dca44d80-ee49-11ea-983f-86f417e8ee7d.png)

Simply delete sun.png and rename the other one to take its place.

Edit: It really doesn't matter to me. I don't mind making the bright one default.

[2020-09-04 08:02] CyanideX commented on #224
d547d2f

[2020-09-04 08:02] #224 closed, assigned to nobody

[2020-09-26 19:34] HeavyDeception opened #225 "Redstone using stone texture. 1.16.1 unity 2.3.1 unity extras 1.0.0"
**Describe the Issue**
Redstone is using the same texture as stone.

**To Reproduce**
Steps to reproduce the behavior:
Place Redstone I am using the [Sildur's Vibrant shaders v1.281 Extreme-Volumetric lighting](https://sildurs-shaders.github.io/downloads/) It also does it with SESU.

**Expected Behavior**
To see the Red on Redstone

**Screenshots**
[That is Redstone I'm looking at.](https://puu.sh

[2020-09-26 19:36] HeavyDeception commented on #225
Ok so if you use the add on [extras](https://www.curseforge.com/minecraft/texture-packs/unity-extras) it doses it.
Took it off everything looks fine.

[2020-09-26 19:50] CyanideX commented on #225
https://github.com/Unity-Resource-Pack/Unity-Extras/issues/4

This is an issue with Extras relying on CTM. Will be fixed next release.

[2020-09-26 19:50] #225 closed, assigned to nobody

[2020-09-26 20:35] HeavyDeception commented on #225
@CyanideX Thank you, Also just to confirm Optifine has a CTM thing build into it but the redstone is needing CTM installed correct?

[2020-09-26 21:13] CyanideX commented on #225
OptiFine emissive textures is an 'all or nothing' approach; blocks are either fullbright (light level 15) or they aren't. CTM allows you to set emission brightness levels which is what I chose to do for redstone.

[2020-09-27 12:43] mkaito opened #226 "[1.12.2] No icon for charged certus quartz"
**Describe the Issue**

The item texture for Charged Certus Quartz Crystal appears invalid.

**To Reproduce**
Steps to reproduce the behavior:
1. Obtain charged certus quartz crystal
2. Observe icon is invalid

**Expected Behavior**
Correct icon should appear

**Screenshots**
![image](https://user-images.githubusercontent.com/20434/94365210-d6ab3080-00c6-11eb-851d-e0088e5b2409.png)

**Additional C

[2020-10-07 00:11] moistychronic opened #227 "Bushy Leaves"
An addon for bushy leaf textures.

[2020-10-08 10:43] rewelcabiles commented on #226
I just had this issue and I fixed it by going into the resource pack and renaming the file called `material_certus_quartz_crystal_charged_png.mcmeta` to `material_certus_quartz_crystal_charged.png.mcmeta`

Its in the folder `Unity-1.12_plus\assets\appliedenergistics2\textures\items`

[2020-11-22 04:53] DrParadox7 opened #228 "Forestry's Grafter item retexture"
I would like to preface my comment with the fact that your textures keep me playing the game and what I am to say next is not to disparage your work but rather give a constructive criticism to improve it further.

As for the issue:

In the Forestry retexture you have made the [grafter knife](https://www.harrodhorticultural.com/uploads/images/products/GGT-323_large.jpg) has for some reason been ret

[2020-11-22 05:14] CyanideX commented on #228
Hey! Thank you for your kind words and your excellent feedback! 😃

I completely agree with you about that texture. In fact, I hate almost all of the Unity forestry textures! It was a drunk retexture challenge where I would get very intoxicated and try to retexture an entire mod and Forestry happened to be my first (and only) challenge mod. A lot of people liked the textures so I added them to the

[2020-11-22 08:11] DrParadox7 commented on #228
I'll do it in the coming week. Should I include the Apiary/Bee House GUI too since it strays a little from the original?
![image](https://user-images.githubusercontent.com/47131096/99898575-5229f800-2c9a-11eb-8b8d-2eaf0a9b21f0.png)

[2020-11-22 08:13] DrParadox7 commented on #228
I'll do it sometime next week. The Apiarist/Bee House GUI were changed since players feel intimidated getting started with bees. It does help them not feel feel disheartened early on but doesn't match other GUIs.
Should those be included too?
![image](https://user-images.githubusercontent.com/47131096/99898748-d466ec00-2c9b-11eb-962a-595d86d7322e.png)

[2020-11-22 08:23] #228 closed, assigned to nobody

[2020-11-23 18:32] CyanideX commented on #228
Those GUIs look very nice but is not something Unity does. We try to convert all themed GUIs to the vanilla style.

[2020-11-29 11:52] #217 closed, assigned to nobody

[2020-12-30 18:11] slycoolgamer opened #229 "the images of the pack look completely different to the actual textures"

[2020-12-30 20:26] RaspberryPiDude314159 commented on #229
Too bad, how about you try to make them?

[2020-12-30 20:51] ChloeDawn commented on #229
What images, and where? This issue is vague

[2020-12-30 21:40] BBoldt commented on #229
Oh no, would you like your money back?

Not an issue.

[2020-12-30 21:40] #229 closed, assigned to nobody

[2020-12-31 01:55] ChloeDawn commented on #229
Not necessarily a non-issue. If there are outdated screenshots on **official** pages somewhere, they need updating.

[2020-12-31 03:27] CyanideX commented on #229
lol wtf

Try posting some screenshots or list specific blocks that aren't accurate and I will be sure to update them.
All of the images on the CurseForge project page shown in under the image tab are up to date.

[2020-12-31 03:33] BBoldt commented on #229
They don't look very outdated to me:
https://www.curseforge.com/minecraft/texture-packs/unity/screenshots

Sounds like slycoolgamer is complaining that there are shaders in the pics, making them look different from the pack without shaders.
They complained in the **official** curseforge post as well.
![](https://i.imgur.com/EQPi4gR.png)

How is this an issue with the resource pack?

[2020-12-31 03:35] BBoldt commented on #229
@CyanideX how dare your minecraft look better than mine

[2021-02-02 21:57] #221 closed, assigned to nobody

[2021-02-03 00:47] CyanideX commented on #203
Work in progress Bedrock version can be found here: https://github.com/Unity-Resource-Pack/Unity-Bedrock

[2021-02-03 00:47] #203 closed, assigned to nobody

[2021-02-03 00:49] #219 closed, assigned to nobody

[2021-02-03 01:16] CyanideX commented on #220
I won't be changing the nether star but I have added several variants in d14723d that you can choose from if you're still bothered by the asymmetry.

![image](https://user-images.githubusercontent.com/3106700/106683840-210f5300-657a-11eb-83d8-2f48d53f43c3.png)

[2021-02-03 01:16] #220 closed, assigned to nobody

[2021-02-03 01:52] #218 closed, assigned to nobody

[2021-02-03 01:52] #223 closed, assigned to nobody

[2021-02-03 06:28] Slava0135 commented on #220
Thanks, I like the last the most

[2021-02-03 20:05] PequenaBR opened #232 "[2.4.0] texture of the block Netherrack is buggy"
The texture of the block "Netherrack" is BLACK, when it is in the cave of the "nether", and places a torch, does not illuminate anything, as it has no texture or is buggy.

The image below shows the block placed and in my hand.

![image](https://user-images.githubusercontent.com/54646457/106802593-ecff6500-6641-11eb-9796-a0cc7b31c21e.png)

[2021-02-06 10:33] BrainInBlack opened #233 "[1.12.2] Signalum Capacitor Texture missing for Thermal Expansion"
Might be a little to late, since modded 1.16.x is slowly taking off, but it always bothered me that this particular Texture (capacitor_3.png) is missing.

[2021-02-11 07:38] redstonek opened #234 "(Suggestion) Make emissive textures work in optifine"
**Suggestion**
Make emissive textures work in optifine without using connected textures mod.

[2021-02-11 08:28] CyanideX commented on #234
Are you referring to [Unity: Extras](https://github.com/Unity-Resource-Pack/Unity-Extras) redstone or the base pack nether emissives?

I most likely won't be changing things since OptiFine only allows fullbright textures or nothing at all. I don't want redstone to be light level 15, for example, which is why I use CTM. For certain textures, sure, I'll use OptiFine for emissives.

[2021-02-11 10:09] redstonek commented on #234
I meant emissives overall.

[2021-02-11 19:50] CyanideX commented on #234
Emissives that are intended to be fullbright will use OptiFine format.

[2021-03-30 20:48] Ghostigul opened #236 "[1.16.5] Issue Description"
Vines look horrible

Look at vines

![image](https://user-images.githubusercontent.com/81652252/113054454-0bc83680-916f-11eb-8943-6031800a23ef.png)

![image](https://user-images.githubusercontent.com/81652252/113054509-1d114300-916f-11eb-9706-744f1f9ab33a.png)

Using Optifine and SEUS renewed 1.0.1

[2021-03-31 00:00] CyanideX commented on #236
You said this earlier:
![image](https://user-images.githubusercontent.com/3106700/113071041-cad51f80-9178-11eb-804d-05e8d383f5dc.png)

Yet you're using my Unity PBR pack that says "**_Designed for SEUS PTGI_**" alongside SEUS Renewed, getting issues related to **shaders** and making an issue report on the base Unity repo instead of the [Unity PBR repo](https://github.com/Unity-Resource-Pack/Unity-

[2021-03-31 00:00] #236 closed, assigned to nobody

[2021-03-31 00:02] CyanideX commented on #236
I've closed the issue because this is an issue for Unity PBR but I will try to look into fixing this the next time I update PBR.

[2021-03-31 21:53] Ghostigul commented on #236
Imagine being this much of an asshole

[2021-03-31 21:55] CyanideX commented on #236
We don't have to imagine!

![image](https://user-images.githubusercontent.com/3106700/113216383-1ea33f80-9231-11eb-8e7d-21850e4448d6.png)

[2021-03-31 22:04] Ghostigul commented on #236
I do

[2021-03-31 22:08] CyanideX commented on #236
Well let me help you.

Steps to not be on the receiving end of my assholery:

1. Don't be a dumbass.
2. Read instructions.
3. Understand instructions.
4. Post issues on the repo, not in a comment on CurseForge.
5. Don't post vague comments.
6. Post issues in the right repo.
7. Read project descriptions.
8. Learn how to make a useful issue report.
9. Don't be a dumbass.

And, in case I didn't say t

[2021-04-28 16:50] ghost opened #237 "Suggestion"
**Suggestion**
_Tell us what you'd like to see in Unity. (Example: More log variants.)_
Could you please add the rounded text and block GUI's like in new default+? I really liked how when you opened crafting tables and blast furnaces and chests, there was a cool overlay for the GUI. If you can't, can you please tell me a way to combine the two packs? Because new default+ has a lot of features I wo

[2021-04-28 17:05] CyanideX commented on #237
I REALLY do not like the high res text so I don't have plans to add that to Unity. I also plan to keep all GUIs in vanilla style so that classic grey look is here to stay. Sorry!

[2021-04-28 17:05] #237 closed, assigned to nobody

[2021-04-28 17:07] CyanideX commented on #237
If you want to use the GUIs from Default+, use a program like 7Zip to open the resource pack zips and copy the GUIs (_assets\minecraft\textures\gui\container_) from Default+ to Unity.

[2021-04-29 09:14] fatcatonmars opened #238 "[Suggestion] Connected Glass Textures"
**Suggestion**
Glass textures (panels and blocks) don't connect with Optifine, there are large edges obstructing the view. Possibly consider adding support?

![image](https://user-images.githubusercontent.com/31595440/116528003-ac665f00-a8b1-11eb-85cb-dd6eac6d0483.png)

[2021-04-29 14:50] ghost opened #239 "Bug on the curseforge page"
**Describe the Issue**
On the curseforge page, where it says important notice, it says that random entities and ctm will be available later. At first that it what I thought but it turns out at https://www.curseforge.com/minecraft/texture-packs/unity-extras it has the ctm and random entities. So you should update the notice and add it to the page. Also when you are finished with unity could you mer

[2021-04-29 15:29] CyanideX commented on #238
https://github.com/Unity-Resource-Pack/Unity-Extras

I may merge CTM with Unity eventually but for now they're available at the other repo and on Curse.

[2021-04-29 21:00] fatcatonmars commented on #238
Ohh, thanks, thought that other pack was only for mods that add items, didn't think to check it for Optifine compatibility.

Err, on second viewing, I was thinking of "Unity: Modded" and it doesn't look like "Unity: Extras" has a link on the main "Unity" page? Unless I'm blind.

[2021-04-29 23:06] CyanideX commented on #238
Extras is still a work in progress and has a lot of issues but I can certainly update the main page to have a link with disclaimer.

[2021-06-28 15:20] gatoborrachon commented on #180
i guess the texture pack of Jummit was never released right?

[2021-06-28 16:15] Jummit commented on #180
I gave it to someone who wanted to finish it, but yes, I never released it.

[2021-06-29 23:15] TinyBoxer86 opened #241 "[1.16.5] No chest icon in inventory"
Hi there! For some reason, there is no chest icon in the creative menu/inventory, despite the item being there and having the pack's textures when placed. It's just invisible when in the inventory.

Steps to reproduce the behavior:
1. Craft a chest or obtain one via creative.
2. See that there is no icon.

**Expected Behavior**
There should be a visible icon for a chest in the menu.

**Screenshots

[2021-06-29 23:40] ChloeDawn commented on #241
Please provide a full mod list

[2021-07-03 08:44] kaniol-lck commented on #241
Have you installed the fast chest mod?
It does not support custom chest model, replace this mod with [enhanced block entities](https://github.com/FoundationGames/EnhancedBlockEntities) which can render custom chest model. Or alternatively, remove chest model file in your unity pack.

[2021-12-03 20:49] skellitor301 opened #243 "[1.18] Missing texture issues"
**Describe the Issue**
When Unity pack is used, there are some missing texture blocks through out the world. I mostly noticed this with vines but I'm not sure what other blocks cause this issue.

**To Reproduce**
Steps to reproduce the behavior:
Unity resourcepack is enabled
Start a world or use debug world
Certain blocks are showing magenta and black cubes

**Expected Behavior**
No missing textur

[2021-12-03 22:04] CyanideX commented on #243
https://github.com/Unity-Resource-Pack/Unity/actions/runs/1274026104

The version for 1.17 _should_ help.

[2022-01-12 21:48] MarkKoz opened #245 "[1.16.X] Incorrect particle texture for ladders"
**Describe the Issue**
The particle textures for ladder is referencing `unity:block/oak_planks`, but that file does not exist. The intention was likely to use the default `minecraft` namespace, since the file does exist there.

https://github.com/Unity-Resource-Pack/Unity/blob/89a8c508d0a762316e2df8725ab9dec50162de1d/assets/minecraft/models/item/ladder.json#L6

**To Reproduce**
Steps to reproduce

[2022-03-20 02:56] CyanideX commented on #243
Fixed in latest CF release.

[2022-03-20 02:56] #243 closed, assigned to nobody

[2022-03-20 02:57] #226 closed, assigned to nobody

[2022-03-20 02:57] #233 closed, assigned to nobody

[2022-03-20 15:41] mkaito commented on #226
Would you accept a PR to fix this?

1.12 might be old, but plenty of us are still playing because it still has some of the best modpacks ever made.

Enviado desde mi iPhone

[2022-03-20 16:49] CyanideX commented on #226
Absolutely! Submit the PR and consider it merged.

[2022-04-04 02:14] #241 closed, assigned to nobody

[2022-04-08 21:45] ZephaniahNoah opened #248 "Dirt path textures use the old file name [1.18]"
old `grass_path_side.png`
old `grass_path_top.png`
new `dirt_path_side.png`
new `dirt_path_top.png`

[2022-04-08 22:25] CyanideX commented on #248
Please resubmit your issue report with the requested information, including any necessary screenshots for reference.

[2022-04-08 22:25] #248 closed, assigned to nobody

[2022-04-08 23:51] ZephaniahNoah commented on #248
Is that a bot?

[2022-04-09 01:39] ZephaniahNoah commented on #248
Wow that's a real person. I'm not going to do all that work just so you can rename a file.

[2022-06-09 04:39] Meltreras opened #249 "Update the Stray Mob Texture"
I noticed that the stray mob texture still looks like the default skeleton textures. It feels a little weird to see two different skeleton textures, so hope for it to be updated.

[2022-06-15 20:46] CyanideX commented on #249
You haven't followed the issue template, providing the information I need to resolve the issue. Please follow the guidelines next time and include screenshots, versions, etc.

[2022-06-15 20:49] CyanideX commented on #249
Just to show you how out of touch I am with Minecraft, I had to look up what a Stray was. 😛 This also reinforces the importance of providing the information I request with each issue template (I need the help).

I will look into updating this mob.

[2022-06-16 04:09] #222 closed, assigned to ChloeDawn

[2022-06-16 04:11] #239 closed, assigned to nobody

[2022-06-16 04:13] #238 closed, assigned to nobody

[2022-06-16 04:14] #234 closed, assigned to nobody

[2022-06-23 03:46] NDTurtle opened #250 "[1.19.X] Missing Texture on Warped and Crimson Doors"
**Describe the Issue**
Warped and crimson doors don't render properly. Instead, they are given the purple and black "null" texture.

**To Reproduce**
1. Install the Unity texture pack and select it
2. Place down a warped or crimson door

**Expected Behavior**
Warped and crimson doors to appear with their proper textures.
**Screenshots**
![ApplicationFrameHost_z5w55RlLSY](https://user-images.github

[2022-06-23 04:43] CyanideX commented on #250
Thank you for submitting this issue! It was sooo close to being perfect but is missing version information for Minecraft. I can deduce that it is version 1.19 from the mod list but if you could include it in the issue title (the bracket part) next time, that would be great! 🙂

I will look into this issue as soon as I can!

[2022-06-23 07:07] ChloeDawn commented on #250
Does this still occur if you disable/remove DashLoader?

[2022-06-23 22:41] NDTurtle commented on #250
Oh my mistake, I will certainly do that next time!

Yes, it still occurs.

[2022-06-23 22:48] CyanideX commented on #250
Oh, found the issue! 😅 I should have tested this myself first.

FIX INCOMING!

[2022-06-23 22:53] NDTurtle commented on #250
Still occurs without Continuity. And no, I do not have Unity: Extras installed.

[2022-06-23 22:53] NDTurtle commented on #250
Awesome! Thank you for the quick response

[2022-06-23 23:18] CyanideX commented on #250
Fixed in [fef1b69](https://github.com/Unity-Resource-Pack/Unity/commit/fef1b69e4463899ffbe3f30c25c3c70f679990cb)

[2022-06-23 23:18] #250 closed, assigned to nobody

[2022-06-23 23:19] CyanideX commented on #250
I'll update the Curse download in a bit but you can grab the build from the repo in the meantime:
https://github.com/Unity-Resource-Pack/Unity/actions/runs/2552533590

Note: this is for 1.18 but will still work on 1.19 until I release a download with version bump.

[2022-06-25 14:45] hourafterhour opened #251 "Suggestion: Support with"
**Suggestion**
_Tell us what you'd like to see in Unity. (Example: More log variants.)_
Hi there. I wanted to ask if you guys could add support for Eating Animations Mod.
I noticed while using the Eating Animations Mod and Unity, that whenever I ate a food item, the animation would revert to the Minecraft original textures, before returning to normal. It would be a very nice and helpful change!
Th

[2022-07-13 01:33] NDTurtle commented on #250
Hey sorry to bother you, but it doesn't look like curseforge has been updated, and I can't seem to download it through the link you provided. Is it going to be updated any time soon?

[2022-07-13 01:41] CyanideX commented on #250
You need to click the build under 'Artifacts' labelled "[unity-1.18-fef1b69.2552533590](https://github.com/Unity-Resource-Pack/Unity/suites/7070148066/artifacts/278986890)".

[2022-07-13 01:43] NDTurtle commented on #250
Yeah that's what I was doing, but it just doesn't download. Stays at 0 kb per second.

[2022-07-13 03:24] CyanideX commented on #250
It has a delay, yes, but let it sit for a few minutes and it will complete. I don't have plans to update Curse until next week at the earliest, sorry.

[2022-07-13 04:51] NDTurtle commented on #250
No worries, thanks for the quick response!

[2022-07-13 05:21] CyanideX commented on #250
If the download still doesn't work, just delete these files from the pack:
![image](https://user-images.githubusercontent.com/3106700/178656815-3c64e441-4315-4a51-9be6-41afd430d722.png)

[2022-07-27 21:52] PureSouling opened #252 "Suggestion"

[2022-07-27 23:15] #252 closed, assigned to nobody

[2022-08-07 20:18] Qualadia opened #253 "Suggestion: port unity to minetest"
Hi! I very liked your texture pack, and I want to port it(parts of it that can be supported(e.g. pbr is not supported by engine itself)) to minetest(specifically mineclone 2/5), so I want to ask your permission to do that

[2022-08-07 20:22] #253 closed, assigned to nobody

[2022-08-17 00:46] chazwarp923 opened #254 "[1.18.2] Path Block renamed"
**Describe the Issue**
The path block's resource locations were changed in 1.18

**To Reproduce**
Steps to reproduce the behavior:
1. Load up 1.18 with just Unity
2. Place a 'Dirt path' block
3. See that it is not correctly textured

**Expected Behavior**
The path block be correctly textured.

**Screenshots**
![2022-08-16_20 45 15](https://user-images.githubusercontent.com/1704521/185009412-7b464a

[2022-09-10 14:48] leofleeo opened #255 "[2.4.1] Warped doors glitch"
**Describe the Issue**
The warped doors show the no texture image

**To Reproduce**
Steps to reproduce the behavior:
1. Install sodium, iris & sodium extra
3. Enable the texture pack
6. See error

**Expected Behavior**
Warped doors look correct

**Screenshots**
![2022-09-10_10 40 33](https://user-images.githubusercontent.com/83542885/189488351-a9a2e18d-c836-4f59-ade4-b1add3574d83.png)
![2022-09-10

[2022-09-10 14:49] leofleeo commented on #255
Don't mind the thing called dark creeper loading screen. It is a resource pack I accidentally put in my mods folder

[2022-09-10 18:19] CyanideX commented on #255
I thought this was already resolved; https://github.com/Unity-Resource-Pack/Unity/issues/250

Which version of Unity are you using? Did I not upload a new version of Unity since I fixed it? 😆

[2022-09-11 17:15] leofleeo commented on #255
It seems you did not update it
![image](https://user-images.githubusercontent.com/83542885/189540429-53254b92-cf15-46b0-9c3f-336040519a0e.png)
![image](https://user-images.githubusercontent.com/83542885/189540441-d02504c3-1284-44bc-9b89-d902b0f35cad.png)
You can see that the latest release is older than the issue.

[2022-09-11 17:15] leofleeo commented on #255
Look at the dates

[2022-09-11 17:24] leofleeo commented on #255
But I fixed it by doing what you did here: https://github.com/Unity-Resource-Pack/Unity/commit/fef1b69e4463899ffbe3f30c25c3c70f679990cb

[2022-09-11 18:55] CyanideX commented on #255
Roger that. I will push an update as soon as possible. 😃

[2022-09-11 18:55] #255 closed, assigned to nobody

[2022-09-15 21:38] CyanideX commented on #254
https://github.com/Unity-Resource-Pack/Unity/commit/7ea3c474948008bf254bdf2664f8ba74f425c65e

[2022-09-15 21:38] #254 closed, assigned to nobody

[2022-09-15 21:39] CyanideX commented on #245
https://github.com/Unity-Resource-Pack/Unity/commit/550c2a591ff82890cbd8b888b5b30478df401963

[2022-09-15 21:39] #245 closed, assigned to nobody

[2022-09-15 21:39] CyanideX commented on #249
https://github.com/Unity-Resource-Pack/Unity/commit/b6f89c418571c40d4431af855ff1114f6a40b936

[2022-09-15 21:39] #249 closed, assigned to nobody

[2022-10-06 02:19] ghost opened #256 "[1.18.2] Netherrack displays as pure black when in inventory"
**Describe the Issue**
A clear and concise description of what the issue is.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to the Nether
2. Mine and hold some netherrack

**Expected Behavior**
Rather than having the held item display the texture it is pure black.

**Screenshots**
https://imagedelivery.net/aG82t-qDLn415HP9HHoOeg/1bc3c067-52bd-4abd-3249-15123907d700/original

**Additional

[2022-10-06 02:27] ghost opened #257 "[1.18.2] Path block is vanilla texture"
**Describe the Issue**
A clear and concise description of what the issue is.

**To Reproduce**
Steps to reproduce the behavior:
1. Use Unity with all addons on the additive modpack fabric version 1.18.2
2. create or view a path block

**Expected Behavior**
Instead of the changed texture, only the vanilla texture is used.

**Screenshots**
![2022-10-05_22 23 54](https://user-images.githubusercontent

[2022-10-06 05:19] CyanideX commented on #256
I'm assuming you're using Unity: Extras? Would be helpful to include all of your resource packs in the issue report. 😉

[2022-10-06 05:21] CyanideX commented on #257
Fixed already but not released yet.

Download any of the builds here to enjoy the updated version:
https://github.com/Unity-Resource-Pack/Unity/actions

[2022-10-06 05:21] #257 closed, assigned to nobody

[2022-10-06 05:40] ghost commented on #256
yes sorry this was using every addon for unity.

[2022-10-06 05:42] CyanideX commented on #256
Then that is definitely a Unity: Extras bug. You can try to use one of the builds on the repo until I release a fix on Curse: https://github.com/Unity-Resource-Pack/Unity-Extras/actions/runs/3026761426

[2022-10-08 03:34] viiizee opened #258 "[1.18.2] Stray overlap bug with Fresh Animations"
There is a strange bug happening with Version 1.18.2 - 40.1.73 Unity 2.4.1 and Fresh Animations 1.7 where the Stray texture is overlapping with the default texture? Just try it and you'll see what I mean. If you place Unity below, it fixes the overlapping bug, but it doesn't use your texture for the Stray (only for other mobs). If you place Unity above then it produces the textures you've made for

[2022-10-08 06:25] CyanideX commented on #258
Does this happen without shaders/optifine? What other mods are you using?

[2022-10-08 06:26] #256 closed, assigned to nobody

[2022-10-08 08:21] viiizee commented on #258
I'm using quite a number of mods. I will test tomorrow and see if I can re-create the issue without any other mods installed. Just Optifine your pack and fresh animations. I'll also try turning the shaders off and then back on to see if it happens.

[2022-10-09 01:05] viiizee commented on #258
Okay, so I just loaded a 1.18.2 - 40.1.73 world with Fresh Animations 1.7 and Unity 2.4.1 and the bug is still occurring in the form of the second photo above. I do not have shaders installed on this new version.

[2022-10-09 01:07] viiizee commented on #258
Again, this happens when Fresh Animations is located above Unity in the Resource pack selection menu. When Unity is below the default stray texture is used and some of the Unity textures load for other blocks and creatures.

[2022-10-09 01:10] viiizee commented on #258
More specifically, this bug seems to only occur with mobs that have an overlay, such as drowned.

[2022-10-09 03:36] CyanideX commented on #258
Are you using the Fresh Animation add-on pack?

![image](https://user-images.githubusercontent.com/3106700/194736707-1dcb577e-5cfe-40e3-8335-c89e8d3a5f85.png)

[2022-10-09 03:40] CyanideX commented on #258
Either way, this is an issue with Fresh Animations since Unity is simply changing the vanilla texture. I will look into the vanilla texture to see if it has changed the mobs since I created my version but, for now, I'm going to close this issue because I don't plan to add extended support for Fresh Animations right now (if that is even possible). SORRY! 😩

[2022-10-09 03:40] #258 closed, assigned to nobody

[2022-10-09 07:45] viiizee commented on #258
Hi there! So, I actually figured out what the problem was with the creator of Fresh Animations. Turns out there are two versions of FA for 1.18.2 that were made for Optifine H9. The Alternate version is meant for versions of Minecraft that utilized the old method of generator the Stray and Drowned overlays. I was using the alternate version when I was supposed to be using the normal version.

[2022-10-09 23:30] leofleeo commented on #255
You still forgot to push an update lmao

[2022-10-09 23:50] CyanideX commented on #255
Just haven't had time! 😩

But at least the builds are available [here](https://github.com/Unity-Resource-Pack/Unity/actions) if you want them!

[2022-10-18 13:34] StudioBeaverGames opened #259 "Suggestion"
**Suggestion**
_Tell us what you'd like to see in Unity. (Example: More log variants.)_

[2022-10-18 13:36] #259 closed, assigned to nobody

[2022-10-25 15:01] CyanideX commented on #55
The day has come.